<link rel="apple-touch-icon" sizes="180x180" href="&lt;?php echo esc_url( get_stylesheet_directory_uri() ); ?&gt;/assets/img/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="&lt;?php echo esc_url( get_stylesheet_directory_uri() ); ?&gt;/assets/img/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="&lt;?php echo esc_url( get_stylesheet_directory_uri() ); ?&gt;/assets/img/icons/favicon-16x16.png">
<link rel="manifest" href="&lt;?php echo esc_url( get_stylesheet_directory_uri() ); ?&gt;/assets/img/icons/site.webmanifest">
<link rel="shortcut icon" href="&lt;?php echo esc_url( get_stylesheet_directory_uri() ); ?&gt;/assets/img/icons/favicon.ico">
<meta name="msapplication-TileColor" content="#00aba9">
<meta name="msapplication-TileImage" content="&lt;?php echo esc_url( get_stylesheet_directory_uri() ); ?&gt;/assets/img/icons/mstile-144x144.png">
<meta name="msapplication-config" content="&lt;?php echo esc_url( get_stylesheet_directory_uri() ); ?&gt;/assets/img/icons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">