/******************************************************************
Site Name: Template #5 Theme
Author: Go Montessori

Stylesheet: TinyMCE Editor

This stylesheet is loaded automatically by Wordpress when compiled
and placed in the root theme directory folder as editor-style.css

For more info, check out the codex:
http://codex.wordpress.org/Editor_Style

******************************************************************/
/* Wrap the entire post style inside the TinyMCE selector, as suggested
here http://codex.wordpress.org/Function_Reference/add_editor_style */
body#tinymce.wp-editor {
  /**
   * utilities/variables
   * ---
   */
  /**
   * Typography
   */
  /**
   * Colors
   */
  /**
   * Borders & Shadows
   */
  /**
   * Breakpoints
   */
  /**
   *  Grid
   */
  /**
   * partials/utils
   * ---
   * Utils classes
   */
  /* must have higher specificity than alternative color schemes inline styles */
  /**
   * utilities/mixins
   * ---
   */
  /**
   * objects/typography
   * ---
   */
  /* header */
  /* home */
  /* subpages */
  /* flex content */
  /* blog */
  /* sidebar */
  /* footer */
  /* overall styles */
  /**
   * objects/buttons
   * ---
   */
  width: 731px;
  font-family: 'Poppins', sans-serif;
  font-size: 100%;
  line-height: 1.5;
  color: #252525;
  -webkit-font-smoothing: antialiased;
  /**
   * Alignment
   */
}
body#tinymce.wp-editor .menu,
body#tinymce.wp-editor nav ul {
  padding: 0;
  margin: 0;
}
body#tinymce.wp-editor .menu,
body#tinymce.wp-editor nav ul {
  list-style-type: none;
}
body#tinymce.wp-editor .embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}
body#tinymce.wp-editor .embed-container iframe,
body#tinymce.wp-editor .embed-container object,
body#tinymce.wp-editor .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
body#tinymce.wp-editor .says,
body#tinymce.wp-editor .screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  /* many screen reader and browser combinations announce broken words as they would appear visually */
  word-wrap: normal !important;
}
body#tinymce.wp-editor .wrapper .skip-link {
  background-color: #f1f1f1;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  color: #21759b;
  display: block;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 700;
  left: -9999em;
  outline: none;
  padding: 15px 23px 14px;
  text-decoration: none;
  text-transform: none;
  top: -9999em;
}
body#tinymce.wp-editor .logged-in .wrapper .skip-link {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  font-family: "Open Sans", sans-serif;
}
body#tinymce.wp-editor .wrapper .skip-link:focus {
  clip: auto;
  height: auto;
  left: 6px;
  top: 7px;
  width: auto;
  z-index: 100000;
}
body#tinymce.wp-editor main {
  font-size: 16px;
  font-size: 1.6rem;
}
body#tinymce.wp-editor main a {
  color: #4d267a;
  font-weight: bold;
}
body#tinymce.wp-editor main a:hover {
  color: #05a79c;
}
body#tinymce.wp-editor main table {
  font-size: 16px;
  font-size: 1.6rem;
}
body#tinymce.wp-editor main table th {
  font-weight: 700;
  font-size: 16px;
  font-size: 1.6rem;
  text-transform: uppercase;
}
body#tinymce.wp-editor a {
  color: #4d267a;
  font-weight: bold;
}
body#tinymce.wp-editor a:hover {
  color: #05a79c;
}
body#tinymce.wp-editor h1, body#tinymce.wp-editor h2, body#tinymce.wp-editor h3, body#tinymce.wp-editor h4, body#tinymce.wp-editor h5, body#tinymce.wp-editor h6 {
  margin-top: 0;
  line-height: 1em;
}
body#tinymce.wp-editor h1, body#tinymce.wp-editor h2, body#tinymce.wp-editor h3 {
  margin-bottom: 1.2em;
}
body#tinymce.wp-editor h4, body#tinymce.wp-editor h5, body#tinymce.wp-editor h6 {
  margin-bottom: 1em;
}
body#tinymce.wp-editor h1, body#tinymce.wp-editor h1 a {
  font-size: 36px;
  font-size: 3.6rem;
  color: #4d267a;
}
@media screen and (max-width: 800px) {
  body#tinymce.wp-editor h1, body#tinymce.wp-editor h1 a {
    font-size: 30px;
    font-size: 3rem;
  }
}
body#tinymce.wp-editor h2, body#tinymce.wp-editor h2 a {
  font-size: 30px;
  font-size: 3rem;
  color: #05a79c;
}
@media screen and (max-width: 800px) {
  body#tinymce.wp-editor h2, body#tinymce.wp-editor h2 a {
    font-size: 24px;
    font-size: 2.4rem;
  }
}
body#tinymce.wp-editor h3, body#tinymce.wp-editor h3 a {
  font-size: 24px;
  font-size: 2.4rem;
  color: #f07755;
}
@media screen and (max-width: 800px) {
  body#tinymce.wp-editor h3, body#tinymce.wp-editor h3 a {
    font-size: 22px;
    font-size: 2.2rem;
  }
}
body#tinymce.wp-editor h4, body#tinymce.wp-editor h4 a {
  font-size: 20px;
  font-size: 2rem;
  color: #046af5;
}
@media screen and (max-width: 800px) {
  body#tinymce.wp-editor h4, body#tinymce.wp-editor h4 a {
    font-size: 18px;
    font-size: 1.8rem;
  }
}
body#tinymce.wp-editor h5, body#tinymce.wp-editor h5 a {
  font-size: 18px;
  font-size: 1.8rem;
  color: #4d267a;
  text-transform: uppercase;
}
body#tinymce.wp-editor h6, body#tinymce.wp-editor h6 a {
  font-size: 14px;
  font-size: 1.4rem;
  color: #05a79c;
  text-transform: uppercase;
}
body#tinymce.wp-editor p, body#tinymce.wp-editor ul, body#tinymce.wp-editor ol, body#tinymce.wp-editor blockquote {
  margin: 0 0 20px 0;
}
body#tinymce.wp-editor blockquote p:last-of-type {
  margin: 0;
}
body#tinymce.wp-editor li {
  margin-bottom: 0.5em;
}
body#tinymce.wp-editor form {
  font-weight: bold;
}
body#tinymce.wp-editor .announcement {
  color: white;
  font-size: 14px;
  font-size: 1.4rem;
  text-align: center;
}
body#tinymce.wp-editor .announcement a {
  color: white;
  text-decoration: underline;
}
body#tinymce.wp-editor .top-bar .menu {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1em;
}
body#tinymce.wp-editor .site-title {
  margin: 0;
  font-size: 36px;
  font-size: 3.6rem;
  color: #05a79c;
}
body#tinymce.wp-editor .site-title a {
  text-decoration: none;
}
body#tinymce.wp-editor .site-title a:hover, body#tinymce.wp-editor .site-title a:active {
  text-decoration: none;
}
body#tinymce.wp-editor .header-tagline {
  margin: 10px 0 0 0;
  color: #05a79c;
  font-size: 24px;
  font-size: 2.4rem;
}
body#tinymce.wp-editor .top-navigation {
  text-align: center;
}
body#tinymce.wp-editor .top-navigation a {
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1em;
}
body#tinymce.wp-editor .top-navigation a:hover {
  text-decoration: none;
}
body#tinymce.wp-editor .main-navigation {
  font-size: 17px;
  font-size: 1.7rem;
}
body#tinymce.wp-editor .main-navigation a {
  font-weight: normal;
}
body#tinymce.wp-editor .menu-toggle {
  font-size: 18px;
  font-size: 1.8rem;
  color: #4d267a;
}
body#tinymce.wp-editor blockquote {
  font-size: 20px;
  font-size: 2rem;
  color: #046af5;
  text-align: left;
  font-weight: 300;
  line-height: 1.1;
  position: relative;
  padding: 20px;
}
body#tinymce.wp-editor cite {
  font-size: 16px;
  font-size: 1.6rem;
  color: #046af5;
  text-transform: uppercase;
  display: block;
  font-weight: 700;
  font-style: normal;
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #046af5;
}
body#tinymce.wp-editor .cta-banner,
body#tinymce.wp-editor .banner-quote,
body#tinymce.wp-editor .sub-quote {
  color: white;
}
body#tinymce.wp-editor .cta-banner h1, body#tinymce.wp-editor .cta-banner h2, body#tinymce.wp-editor .cta-banner h3, body#tinymce.wp-editor .cta-banner h4, body#tinymce.wp-editor .cta-banner h5, body#tinymce.wp-editor .cta-banner h6, body#tinymce.wp-editor .cta-banner blockquote, body#tinymce.wp-editor .cta-banner cite,
body#tinymce.wp-editor .banner-quote h1,
body#tinymce.wp-editor .banner-quote h2,
body#tinymce.wp-editor .banner-quote h3,
body#tinymce.wp-editor .banner-quote h4,
body#tinymce.wp-editor .banner-quote h5,
body#tinymce.wp-editor .banner-quote h6,
body#tinymce.wp-editor .banner-quote blockquote,
body#tinymce.wp-editor .banner-quote cite,
body#tinymce.wp-editor .sub-quote h1,
body#tinymce.wp-editor .sub-quote h2,
body#tinymce.wp-editor .sub-quote h3,
body#tinymce.wp-editor .sub-quote h4,
body#tinymce.wp-editor .sub-quote h5,
body#tinymce.wp-editor .sub-quote h6,
body#tinymce.wp-editor .sub-quote blockquote,
body#tinymce.wp-editor .sub-quote cite {
  color: white;
}
body#tinymce.wp-editor .cta-banner cite,
body#tinymce.wp-editor .banner-quote cite,
body#tinymce.wp-editor .sub-quote cite {
  border-color: white;
}
body#tinymce.wp-editor .cta-banner blockquote:before,
body#tinymce.wp-editor .banner-quote blockquote:before,
body#tinymce.wp-editor .sub-quote blockquote:before {
  color: white;
}
body#tinymce.wp-editor .sub-quote blockquote {
  text-align: center;
  font-size: 24px;
  font-size: 2.4rem;
}
body#tinymce.wp-editor .sub-quote cite {
  text-align: center;
  display: block;
}
body#tinymce.wp-editor .main-cta-text,
body#tinymce.wp-editor .flex-caption,
body#tinymce.wp-editor .video-caption {
  color: white;
  text-align: right;
}
body#tinymce.wp-editor .main-cta-text h1, body#tinymce.wp-editor .main-cta-text h2, body#tinymce.wp-editor .main-cta-text h3, body#tinymce.wp-editor .main-cta-text h4, body#tinymce.wp-editor .main-cta-text h5, body#tinymce.wp-editor .main-cta-text h6, body#tinymce.wp-editor .main-cta-text blockquote, body#tinymce.wp-editor .main-cta-text cite, body#tinymce.wp-editor .main-cta-text li, body#tinymce.wp-editor .main-cta-text a,
body#tinymce.wp-editor .flex-caption h1,
body#tinymce.wp-editor .flex-caption h2,
body#tinymce.wp-editor .flex-caption h3,
body#tinymce.wp-editor .flex-caption h4,
body#tinymce.wp-editor .flex-caption h5,
body#tinymce.wp-editor .flex-caption h6,
body#tinymce.wp-editor .flex-caption blockquote,
body#tinymce.wp-editor .flex-caption cite,
body#tinymce.wp-editor .flex-caption li,
body#tinymce.wp-editor .flex-caption a,
body#tinymce.wp-editor .video-caption h1,
body#tinymce.wp-editor .video-caption h2,
body#tinymce.wp-editor .video-caption h3,
body#tinymce.wp-editor .video-caption h4,
body#tinymce.wp-editor .video-caption h5,
body#tinymce.wp-editor .video-caption h6,
body#tinymce.wp-editor .video-caption blockquote,
body#tinymce.wp-editor .video-caption cite,
body#tinymce.wp-editor .video-caption li,
body#tinymce.wp-editor .video-caption a {
  color: white;
}
@media screen and (max-width: 1246px) {
  body#tinymce.wp-editor .main-cta-text,
  body#tinymce.wp-editor .flex-caption,
  body#tinymce.wp-editor .video-caption {
    text-align: left;
  }
}
body#tinymce.wp-editor .column-title {
  color: white;
  margin: 0;
}
body#tinymce.wp-editor .more-link {
  text-transform: uppercase;
  font-weight: 700;
  color: #f07755;
}
body#tinymce.wp-editor .more-link:hover {
  text-decoration: none;
  color: #4d267a;
}
body#tinymce.wp-editor .quote-content blockquote:before {
  content: '';
}
body#tinymce.wp-editor #locations {
  color: white !important;
}
body#tinymce.wp-editor #locations .section-title, body#tinymce.wp-editor #locations h2, body#tinymce.wp-editor #locations h3, body#tinymce.wp-editor #locations h4, body#tinymce.wp-editor #locations h5, body#tinymce.wp-editor #locations h6 {
  color: white;
}
body#tinymce.wp-editor #locations h3 {
  font-size: 18px;
  font-size: 1.8rem;
}
body#tinymce.wp-editor #locations a {
  color: white;
}
body#tinymce.wp-editor #locations a:hover, body#tinymce.wp-editor #locations a:active {
  color: #4d267a;
}
body#tinymce.wp-editor #sub-content .section-title {
  color: #4d267a;
}
body#tinymce.wp-editor #sub-content .post-title a {
  color: #05a79c;
}
body#tinymce.wp-editor #sub-content .post-title a:hover, body#tinymce.wp-editor #sub-content .post-title a:active {
  color: #f07755;
}
body#tinymce.wp-editor .accordion-title {
  padding: 10px;
  color: white;
  font-size: 24px;
  font-size: 2.4rem;
  margin-bottom: 20px;
}
body#tinymce.wp-editor .accordion-title a {
  color: white;
  text-decoration: none;
}
body#tinymce.wp-editor .post-list .post-title,
body#tinymce.wp-editor .post-list h3,
body#tinymce.wp-editor .widget_recent_entries ul .post-title,
body#tinymce.wp-editor .widget_recent_entries ul h3,
body#tinymce.wp-editor .recent-posts-extended ul .post-title,
body#tinymce.wp-editor .recent-posts-extended ul h3 {
  font-size: 20px;
  font-size: 2rem;
  margin-bottom: 10px;
}
body#tinymce.wp-editor .post-list time,
body#tinymce.wp-editor .widget_recent_entries ul time,
body#tinymce.wp-editor .recent-posts-extended ul time {
  font-size: 12px;
  font-size: 1.2rem;
  margin-bottom: 5px;
}
body#tinymce.wp-editor .comment-author .fn {
  font-style: normal;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: 700;
}
body#tinymce.wp-editor .comment-meta {
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: 700;
}
body#tinymce.wp-editor .post-meta {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 700;
  color: #1e686b;
  margin-bottom: 10px;
}
body#tinymce.wp-editor .sidebar .widgettitle {
  border-bottom: 2px solid white;
  padding-bottom: 5px;
  font-size: 24px;
  font-size: 2.4rem;
  color: white;
}
body#tinymce.wp-editor .sidebar .widgettitle a {
  color: white;
}
body#tinymce.wp-editor .sidebar .widgettitle a:hover, body#tinymce.wp-editor .sidebar .widgettitle a:active {
  color: #feca6e;
}
body#tinymce.wp-editor .widget_categories ul li a,
body#tinymce.wp-editor .widget_archive ul li a {
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: normal;
}
body#tinymce.wp-editor .widget_categories ul li a:hover,
body#tinymce.wp-editor .widget_archive ul li a:hover {
  color: #f07755;
  text-decoration: none;
  font-weight: 700;
}
body#tinymce.wp-editor .side-nav ul li a,
body#tinymce.wp-editor .sidebar .widget_categories ul li a,
body#tinymce.wp-editor .sidebar .widget_archive ul li a {
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: normal;
  color: white;
}
body#tinymce.wp-editor .side-nav ul li a:hover,
body#tinymce.wp-editor .sidebar .widget_categories ul li a:hover,
body#tinymce.wp-editor .sidebar .widget_archive ul li a:hover {
  color: #f07755;
  text-decoration: none;
  font-weight: 700;
}
body#tinymce.wp-editor .side-menu a {
  color: white;
}
body#tinymce.wp-editor .side-menu a:hover, body#tinymce.wp-editor .side-menu a:active {
  text-decoration: none;
}
body#tinymce.wp-editor footer .widgettitle {
  color: white;
  border-color: white;
}
body#tinymce.wp-editor .footer-navigation ul a {
  color: white;
}
body#tinymce.wp-editor .footer-navigation ul li {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 700;
}
body#tinymce.wp-editor .footer-navigation ul .sub-menu li a {
  font-weight: normal;
  font-size: 14px;
  font-size: 1.4rem;
}
body#tinymce.wp-editor .contact-info {
  color: white;
  font-size: 14px;
  font-size: 1.4rem;
}
body#tinymce.wp-editor .contact-info .contact-title {
  font-size: 16px;
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-bottom: 0.5em;
  color: white;
}
body#tinymce.wp-editor .contact-info a {
  color: white;
  text-decoration: none;
}
body#tinymce.wp-editor .contact-info a:hover, body#tinymce.wp-editor .contact-info a:active {
  text-decoration: underline;
}
body#tinymce.wp-editor .copyright {
  font-size: 12px;
  font-size: 1.2rem;
  text-align: right;
  color: white;
}
body#tinymce.wp-editor .copyright a {
  color: white;
}
@media screen and (max-width: 1246px) {
  body#tinymce.wp-editor .copyright {
    text-align: center;
  }
}
body#tinymce.wp-editor .teal {
  color: #05a79c;
}
body#tinymce.wp-editor .orange {
  color: #f07755;
}
body#tinymce.wp-editor .blue {
  color: #046af5;
}
body#tinymce.wp-editor .purple {
  color: #4d267a;
}
body#tinymce.wp-editor .yellow {
  color: #feca6e;
}
body#tinymce.wp-editor .btn-teal {
  background-color: #05a79c;
}
body#tinymce.wp-editor .btn-teal {
  padding: 8px 10px;
  font-family: "Poppins", sans-serif;
  margin: 20px 0;
  color: white !important;
  font-size: 16px;
  font-size: 1.6rem;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  display: inline-block;
  border: 1px solid white;
}
body#tinymce.wp-editor .btn-teal:hover {
  cursor: pointer;
  text-decoration: none;
}
body#tinymce.wp-editor .btn-teal:hover {
  background-color: #959595 !important;
  color: white !important;
}
body#tinymce.wp-editor .btn-orange {
  background-color: #f07755;
}
body#tinymce.wp-editor .btn-orange {
  padding: 8px 10px;
  font-family: "Poppins", sans-serif;
  margin: 20px 0;
  color: white !important;
  font-size: 16px;
  font-size: 1.6rem;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  display: inline-block;
  border: 1px solid white;
}
body#tinymce.wp-editor .btn-orange:hover {
  cursor: pointer;
  text-decoration: none;
}
body#tinymce.wp-editor .btn-orange:hover {
  background-color: #959595 !important;
  color: white !important;
}
body#tinymce.wp-editor .btn-blue {
  background-color: #046af5;
}
body#tinymce.wp-editor .btn-blue {
  padding: 8px 10px;
  font-family: "Poppins", sans-serif;
  margin: 20px 0;
  color: white !important;
  font-size: 16px;
  font-size: 1.6rem;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  display: inline-block;
  border: 1px solid white;
}
body#tinymce.wp-editor .btn-blue:hover {
  cursor: pointer;
  text-decoration: none;
}
body#tinymce.wp-editor .btn-blue:hover {
  background-color: #959595 !important;
  color: white !important;
}
body#tinymce.wp-editor .btn-purple {
  background-color: #4d267a;
}
body#tinymce.wp-editor .btn-purple {
  padding: 8px 10px;
  font-family: "Poppins", sans-serif;
  margin: 20px 0;
  color: white !important;
  font-size: 16px;
  font-size: 1.6rem;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  display: inline-block;
  border: 1px solid white;
}
body#tinymce.wp-editor .btn-purple:hover {
  cursor: pointer;
  text-decoration: none;
}
body#tinymce.wp-editor .btn-purple:hover {
  background-color: #959595 !important;
  color: white !important;
}
body#tinymce.wp-editor .btn-yellow {
  background-color: #feca6e;
}
body#tinymce.wp-editor .btn-yellow {
  padding: 8px 10px;
  font-family: "Poppins", sans-serif;
  margin: 20px 0;
  color: white !important;
  font-size: 16px;
  font-size: 1.6rem;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  display: inline-block;
  border: 1px solid white;
}
body#tinymce.wp-editor .btn-yellow:hover {
  cursor: pointer;
  text-decoration: none;
}
body#tinymce.wp-editor .btn-yellow:hover {
  background-color: #959595 !important;
  color: white !important;
}
body#tinymce.wp-editor .btn-main-cta, body#tinymce.wp-editor .slide-link {
  background-color: #f07755;
}
body#tinymce.wp-editor .btn-main-cta, body#tinymce.wp-editor .slide-link {
  padding: 8px 10px;
  font-family: "Poppins", sans-serif;
  margin: 20px 0;
  color: white !important;
  font-size: 16px;
  font-size: 1.6rem;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  display: inline-block;
  border: 1px solid white;
}
body#tinymce.wp-editor .btn-main-cta:hover, body#tinymce.wp-editor .slide-link:hover {
  cursor: pointer;
  text-decoration: none;
}
body#tinymce.wp-editor .btn-main-cta:hover, body#tinymce.wp-editor .slide-link:hover {
  background-color: #959595 !important;
  color: white !important;
}
body#tinymce.wp-editor .btn-main-cta:after, body#tinymce.wp-editor .slide-link:after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 20 20'%3E%3Cpath d='M13.25,10L6.109,2.58c-0.268-0.27-0.268-0.707,0-0.979c0.268-0.27,0.701-0.27,0.969,0l7.83,7.908 c0.268,0.271,0.268,0.709,0,0.979l-7.83,7.908c-0.268,0.271-0.701,0.27-0.969,0c-0.268-0.269-0.268-0.707,0-0.979L13.25,10z'/%3E%3C/svg%3E");
  content: '';
  display: inline-block;
  height: 15px;
  width: 15px;
  margin-left: 3px;
  margin-top: 2px;
}
@media screen and (max-width: 800px) {
  body#tinymce.wp-editor .btn-main-cta, body#tinymce.wp-editor .slide-link {
    margin: 0;
  }
}
body#tinymce.wp-editor h1 {
  font-size: 36px;
}
body#tinymce.wp-editor h2 {
  font-size: 30px;
}
body#tinymce.wp-editor h3 {
  font-size: 24px;
}
body#tinymce.wp-editor h4 {
  font-size: 20px;
}
body#tinymce.wp-editor h5 {
  font-size: 18px;
  text-transform: uppercase;
}
body#tinymce.wp-editor h6 {
  font-size: 14px;
  text-transform: uppercase;
}
body#tinymce.wp-editor p {
  font-size: 16px;
}
body#tinymce.wp-editor a {
  color: #046af5;
  font-weight: bold;
}
body#tinymce.wp-editor .btn {
  font-size: 16px;
  text-decoration: none;
}
body#tinymce.wp-editor .gallery-caption {
  background: #046af5;
  color: white;
  border: none;
  max-width: 100%;
  padding: 8px;
  text-align: center;
}
body#tinymce.wp-editor .alignnone {
  margin: 0;
}
body#tinymce.wp-editor .aligncenter {
  display: block;
  margin: 1em auto;
}
body#tinymce.wp-editor .alignright {
  float: right;
  margin: 0.5em 0 1em 1em;
}
body#tinymce.wp-editor .alignleft {
  float: left;
  margin: 0.5em 1em 1em 0;
}

/*# sourceMappingURL=editor-style.css.map */
