/**
 * objects/forms/forms
 * ---
 */

form {

  input, textarea, select {
    border: 1px solid $blue;
    padding: 0.25em;
    margin: 0.15em 0;
    display: block;
    line-height: normal;
    font-weight: normal;
    width: 100%;
    max-width: 100%;

    &:focus {
      border: 1px solid $orange !important;
      outline: 0;
      box-shadow:none;
    }
  }

  textarea {
    height: 75px;
  }

  input[type="radio"], input[type="checkbox"] {
    display: inline-block;
    width:auto;
  }

  button, html input[type="button"], input[type="reset"], input[type="submit"]  {
    @include button($orange);
    outline: 0;
    max-width: 320px;
    font-weight: 700;
    display: block;
  }
  .req {
    color: red;
  }
}

.gform_confirmation_wrapper {
  border: 2px solid lighten($yellow, 60%);
  padding: 10px;
  font-weight: bold;
}

.widget .gform_body input,
.widget .gform_body select,
.widget .gform_body textarea{
  background: transparentize(white, 0.75);
  color: white !important;
}


