/**
 *
 * homepage styles
 *
 */

.main-cta-text,
.flex-caption {
  background: transparentize($purple,0.1);
  @media screen and (max-width: $break-med) {
    background: $purple;
  }
}


#locations {
  background: $yellow;
}

#sub-content {
  background: white;
  .post-list li {
    border-bottom: none;
    @media screen and (max-width: $break-tiny) {
      border-bottom: 1px solid $purple;
    }
  }
}

.advanced-posts-widget {
  .widgettitle {
    @extend .screen-reader-text;
  }
}

