/**
 *
 * Easy banners button styles
 *
 */

.widget_easy_banners {
  .widgettitle {
    @extend .screen-reader-text;
  }
  .widgin-item {
    @include button(transparent);
    margin: 0;
    a:hover,
    a:active {
      text-decoration: none;
      p {
        color: white;
      }
    }
    p {
      margin: 0;
    }
  }
}

.header-right .widgin-item {
  margin: 0 !important;
}

.sidebar .widgin-item {
  display: block;
}

.footer {
  .widgin-item {
    display: block;
    margin: 0;
  }
}
