/**
 *
 * Tribe events calendar plugin styles
 *
 */

.tribe-events-widget-link a{
  @extend .more-link;
  border-top: 2px solid white;
  padding-top: 10px;
}

.tribe-event-title {
  font-weight: bold;
  @include font-size(2.0);
  margin: 0 !important;
}

.tribe-event-duration {
  @include font-size(1.8);
}

.tribe-events-list-widget .tribe-events-list-widget-events {
  padding: 0;
  margin-bottom: $margin-sm;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100px 1fr;
  align-items: center;
  .cal-icon {
    grid-column: 1;
    grid-row: 1 / span2;
  }
  .tribe-event-title {
    grid-column: 2;
    grid-row: 1;
    align-self: end;
  }
  .tribe-event-duration {
    grid-column: 2;
    grid-row: 2;
    align-self: start;
  }
}

.month-icon {
  @include font-size(2.0);
  line-height: 1em;
  display: block;
}

.day-icon {
  @include font-size(4.8);
  line-height: 1em;
  display: block;
  font-weight: 700;
}

.tribe-events-calendar {
  tr:nth-child(even) {
    background: none;
  }
}

#tribe-bar-form .tribe-bar-submit input[type=submit] {
  @include button($orange);
  margin: 0 !important;
}