/**
 * objects/buttons
 * ---
 */


.btn-teal {
  @include button($teal);
}

.btn-orange {
  @include button($orange);
}

.btn-blue {
  @include button($blue);
}

.btn-purple {
  @include button($purple);
}

.btn-yellow {
  @include button($yellow);
}

.btn-main-cta, .slide-link{
  @include button($orange);
  &:after {
    background-image: svg-url("<svg xmlns='http://www.w3.org/2000/svg' fill='#ffffff' viewBox='0 0 20 20'><path d='M13.25,10L6.109,2.58c-0.268-0.27-0.268-0.707,0-0.979c0.268-0.27,0.701-0.27,0.969,0l7.83,7.908 c0.268,0.271,0.268,0.709,0,0.979l-7.83,7.908c-0.268,0.271-0.701,0.27-0.969,0c-0.268-0.269-0.268-0.707,0-0.979L13.25,10z'/></svg>");
    content: '';
    display: inline-block;
    height: 15px;
    width: 15px;
    margin-left: 3px;
    margin-top: 2px;
  }
  @media screen and (max-width: $break-sm) {
    margin: 0;
  }
}