/**
 * objects/footer
 * ---
 */

.footer-top {
  background: $purple;
  color: white;
}

.footer-side {
  background: none;
}

.footer-menu > li {
  border-bottom: 1px solid white;
}

.accreditations {
  background: white;
  color: $text-color;
}

.footer-bottom {
  border-top: 10px solid $teal;
  color: white;
}