/**
 * objects/nav
 * ---
 * Menus
 */

/* main menu */

.site-menu-container {
  @media screen and (max-width: $break-sm) {
    border-top: 5px solid $purple;
  }
}

.site-header-menu {
  @media screen and (max-width: $break-med) {
    background: $teal;
  }
}

.main-navigation {

  ul li {
    @media screen and (max-width: $break-med) {
      border-top: 1px solid white;
    }
  }

  a {
    color: $purple;
    &:hover {
      text-decoration: none;
      color: white;
      background: $teal;
    }
    @media screen and (max-width: $break-med) {
      color: white;
      &:hover {
        background: $blue;
      }
    }
  }

  .menu-item-has-children > a {
    &:after {
      content: '';
      display: inline-block;
      background-image: svg-url("<svg xmlns='http://www.w3.org/2000/svg' fill='#4d267a' viewBox='0 0 20 20'><path d='M17.418,6.109c0.272-0.268,0.709-0.268,0.979,0c0.27,0.268,0.271,0.701,0,0.969l-7.908,7.83 c-0.27,0.268-0.707,0.268-0.979,0l-7.908-7.83c-0.27-0.268-0.27-0.701,0-0.969c0.271-0.268,0.709-0.268,0.979,0L10,13.25 L17.418,6.109z'/></svg>");
      height: 15px;
      width: 15px;
      margin-left: 3px;
      margin-top: 2px;
      @media screen and (max-width: $break-med) {
        background-image: none;
      }
    }
    &:hover,
    &:active,
    &:focus {
      &:after {
        background-image: svg-url("<svg xmlns='http://www.w3.org/2000/svg' fill='#ffffff' viewBox='0 0 20 20'><path d='M17.418,6.109c0.272-0.268,0.709-0.268,0.979,0c0.27,0.268,0.271,0.701,0,0.969l-7.908,7.83 c-0.27,0.268-0.707,0.268-0.979,0l-7.908-7.83c-0.27-0.268-0.27-0.701,0-0.969c0.271-0.268,0.709-0.268,0.979,0L10,13.25 L17.418,6.109z'/></svg>");
        @media screen and (max-width: $break-med) {
          background-image: none;
        }
      }
    }
  }

  .current-menu-item > a,
  .current_page_item > a,
  .current_page_ancestor > a{
    color: $blue;
    &:hover {
      background: $teal;
    }
    &:after {
      background-image: svg-url("<svg xmlns='http://www.w3.org/2000/svg' fill='#046af5' viewBox='0 0 20 20'><path d='M17.418,6.109c0.272-0.268,0.709-0.268,0.979,0c0.27,0.268,0.271,0.701,0,0.969l-7.908,7.83 c-0.27,0.268-0.707,0.268-0.979,0l-7.908-7.83c-0.27-0.268-0.27-0.701,0-0.969c0.271-0.268,0.709-0.268,0.979,0L10,13.25 L17.418,6.109z'/></svg>");
      @media screen and (max-width: $break-med) {
        background-image: none;
      }
    }
    @media screen and (max-width: $break-med) {
      color: white;
      background: $blue;
    }
  }

  .menu-item-has-children[aria-haspopup="true"]:hover,
  .menu-item-has-children[aria-haspopup="true"]:focus
  {
    background: $teal;
    color: white;
    > a {
      color: white;
      &:after {
        background-image: svg-url("<svg xmlns='http://www.w3.org/2000/svg' fill='#ffffff' viewBox='0 0 20 20'><path d='M17.418,6.109c0.272-0.268,0.709-0.268,0.979,0c0.27,0.268,0.271,0.701,0,0.969l-7.908,7.83 c-0.27,0.268-0.707,0.268-0.979,0l-7.908-7.83c-0.27-0.268-0.27-0.701,0-0.969c0.271-0.268,0.709-0.268,0.979,0L10,13.25 L17.418,6.109z'/></svg>");
        @media screen and (max-width: $break-med) {
          background-image: none;
        }
      }
    }
    @media screen and (max-width: $break-med) {
      background: $orange;
    }
  }

  .sub-menu {
    background: $teal;
    a {
      color: white;
      white-space: normal;
      &:hover {
        background: $orange;
      }
      &:after {
        background-image: svg-url("<svg xmlns='http://www.w3.org/2000/svg' fill='#ffffff' viewBox='0 0 20 20'><path d='M13.25,10L6.109,2.58c-0.268-0.27-0.268-0.707,0-0.979c0.268-0.27,0.701-0.27,0.969,0l7.83,7.908 c0.268,0.271,0.268,0.709,0,0.979l-7.83,7.908c-0.268,0.271-0.701,0.27-0.969,0c-0.268-0.269-0.268-0.707,0-0.979L13.25,10z'/></svg>");
        @media screen and (max-width: $break-med) {
          background-image: none;
        }
      }
    }
    .menu-item-has-children[aria-haspopup="true"] a:hover,
    .menu-item-has-children[aria-haspopup="true"] a:focus {
      background: $orange;
      &:after {
        background-image: svg-url("<svg xmlns='http://www.w3.org/2000/svg' fill='#ffffff' viewBox='0 0 20 20'><path d='M13.25,10L6.109,2.58c-0.268-0.27-0.268-0.707,0-0.979c0.268-0.27,0.701-0.27,0.969,0l7.83,7.908 c0.268,0.271,0.268,0.709,0,0.979l-7.83,7.908c-0.268,0.271-0.701,0.27-0.969,0c-0.268-0.269-0.268-0.707,0-0.979L13.25,10z'/></svg>");
        @media screen and (max-width: $break-med) {
          background-image: none;
        }
      }
      @media screen and (max-width: $break-med) {
        background: $purple;
      }
    }
    .current-menu-item > a,
    .current_page_item > a,
    .current_page_ancestor > a {
      color: white;
      background: $blue;
      &:hover {
        background: $purple;
      }
    }
  }

  .sub-menu ul {
    background: $orange;
    a{
      &:hover {
        background: $purple;
      }
    }
    .current-menu-item > a,
    .current_page_item > a,
    .current_page_ancestor > a {
      color: white;
      background: $blue;
      &:hover {
        background: $purple;
      }
    }
    .menu-item-has-children[aria-haspopup="true"] a:hover,
    .menu-item-has-children[aria-haspopup="true"] a:focus {
      background: $purple;
    }
  }

  .sub-menu ul:before,
  .sub-menu ul:after {
    border: 0;
  }

  .sub-menu ul ul {
    background: $purple;
    a{
      &:hover {
        background: $yellow;
      }
    }
    .current-menu-item > a,
    .current_page_item > a,
    .current_page_ancestor > a {
      background: $blue;
      &:hover {
        color: $yellow;
      }
    }
    .menu-item-has-children[aria-haspopup="true"] a:hover,
    .menu-item-has-children[aria-haspopup="true"] a:focus {
      background: $yellow;
    }
  }

}

.menu-toggle {
  background: white;
  border: 0;
  outline: 0;
  cursor: pointer;
  color: $purple;
  &:after {
    content: '';
    background-image: svg-url("<svg xmlns='http://www.w3.org/2000/svg' fill='#4d267a' viewBox='0 0 20 20'><path d='M16.4,9H3.6C3.048,9,3,9.447,3,10c0,0.553,0.048,1,0.6,1H16.4c0.552,0,0.6-0.447,0.6-1C17,9.447,16.952,9,16.4,9z M16.4,13 H3.6C3.048,13,3,13.447,3,14c0,0.553,0.048,1,0.6,1H16.4c0.552,0,0.6-0.447,0.6-1C17,13.447,16.952,13,16.4,13z M3.6,7H16.4 C16.952,7,17,6.553,17,6c0-0.553-0.048-1-0.6-1H3.6C3.048,5,3,5.447,3,6C3,6.553,3.048,7,3.6,7z'/></svg>");
  }
  &:hover,
  &.toggled-on{
    background: $teal;
    color: white;
    &:after {
      content: '';
      background-image: svg-url("<svg xmlns='http://www.w3.org/2000/svg' fill='#ffffff' viewBox='0 0 20 20'><path d='M16.4,9H3.6C3.048,9,3,9.447,3,10c0,0.553,0.048,1,0.6,1H16.4c0.552,0,0.6-0.447,0.6-1C17,9.447,16.952,9,16.4,9z M16.4,13 H3.6C3.048,13,3,13.447,3,14c0,0.553,0.048,1,0.6,1H16.4c0.552,0,0.6-0.447,0.6-1C17,13.447,16.952,13,16.4,13z M3.6,7H16.4 C16.952,7,17,6.553,17,6c0-0.553-0.048-1-0.6-1H3.6C3.048,5,3,5.447,3,6C3,6.553,3.048,7,3.6,7z'/></svg>");
    }
  }
}

.dropdown-toggle {
  border: 0;
  border-radius: 0;
  color: white;
  content: "";
  cursor: pointer;
  background: transparent center center no-repeat svg-url("<svg xmlns='http://www.w3.org/2000/svg' fill='#ffffff' viewBox='0 0 20 20'><path d='M4.516,7.548c0.436-0.446,1.043-0.481,1.576,0L10,11.295l3.908-3.747c0.533-0.481,1.141-0.446,1.574,0 c0.436,0.445,0.408,1.197,0,1.615c-0.406,0.418-4.695,4.502-4.695,4.502C10.57,13.888,10.285,14,10,14s-0.57-0.112-0.789-0.335 c0,0-4.287-4.084-4.695-4.502C4.107,8.745,4.08,7.993,4.516,7.548z'/></svg>");
  background-size: 24px 24px;
}

.dropdown-toggle:hover,
.dropdown-toggle:focus {
  background-color: transparent;
  color: white;
}

.dropdown-toggle:focus {
  outline: thin dotted;
  outline-offset: -1px;
}

.dropdown-toggle:focus:after {
  border-color: transparent;
}

.dropdown-toggle.toggled-on {
  content: "";
  background-image: svg-url("<svg xmlns='http://www.w3.org/2000/svg' fill='#ffffff' viewBox='0 0 20 20'><path d='M15.484,12.452c-0.436,0.446-1.043,0.481-1.576,0L10,8.705l-3.908,3.747c-0.533,0.481-1.141,0.446-1.574,0 c-0.436-0.445-0.408-1.197,0-1.615c0.406-0.418,4.695-4.502,4.695-4.502C9.43,6.112,9.715,6,10,6s0.57,0.112,0.789,0.335 c0,0,4.287,4.084,4.695,4.502C15.893,11.255,15.92,12.007,15.484,12.452z'/></svg>");
  background-repeat: no-repeat;
}

.top-navigation {
  .menu-item a {
    border-right: 1px solid white;
    background: $blue;
    &:hover {
      background: $yellow;
    }
  }
  .menu-item:last-child a{
    border-right: none;
  }
  .current-menu-item a {
    background: $yellow;
  }
}