/**
 * objects/sidebar
 * ---
 */

.sidebar {
  background: $blue;
  color: white;
  a {
    color: white;
    &:hover,
    &:active {
      color: $yellow;
    }
  }
}

.widget ul,
.widget ol{
  list-style-type: none;
}

.side-menu,
.widget_categories,
.widget_archive {
  li a {
    padding-bottom: 10px;
    border-bottom: 1px solid white;
    &:hover {
      border-bottom-color: $yellow;
    }
  }

}
