/**
 * objects/content
 * ---
 */

table {
    border: none;
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;

    th {
        background: $blue;
        color: white;
        text-align: left;
    }

    tr:nth-child(even) {
        background: lighten($blue, 30%);
    }

    td {

    }
}