/**
 * objects/typography
 * ---
 */

main {
  @include font-size(1.6);

  a {
    color: $purple;
    font-weight: bold;
    &:hover {
      color: $teal;
    }
  }

  table {
    @include font-size(1.6);

    th {
      font-weight: 700;
      @include font-size(1.6);
      text-transform: uppercase;
    }
  }
}

a {
  color: $purple;
  font-weight: bold;
  &:hover {
    color: $teal;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  line-height: 1em;
}

h1, h2, h3 {
  margin-bottom: 1.2em;
}

h4, h5, h6 {
  margin-bottom: 1em;
}

h1, h1 a {
  @include font-size(3.6);
  color: $purple;
  @media screen and (max-width: $break-sm) {
    @include font-size(3.0);
  }
}

h2, h2 a {
  @include font-size(3.0);
  color: $teal;
  @media screen and (max-width: $break-sm) {
    @include font-size(2.4);
  }
}

h3, h3 a {
  @include font-size(2.4);
  color: $orange;
  @media screen and (max-width: $break-sm) {
    @include font-size(2.2);
  }
}

h4, h4 a {
  @include font-size(2.0);
  color: $blue;
  @media screen and (max-width: $break-sm) {
    @include font-size(1.8);
  }
}

h5, h5 a {
  @include font-size(1.8);
  color: $purple;
  text-transform: uppercase;
}

h6, h6 a {
  @include font-size(1.4);
  color: $teal;
  text-transform: uppercase;

}

p, ul, ol, blockquote {
  margin: 0 0 $margin-sm 0;
}

blockquote p:last-of-type {
  margin: 0;
}

li {
  margin-bottom: 0.5em;
}

form {
  font-weight: bold;
}

/* header */

.announcement {
  color: white;
  @include font-size(1.4);
  text-align: center;
  a {
    color: white;
    text-decoration: underline;
  }
}

.top-bar {
  .menu {
    @include font-size(1.4);
    line-height: 1em;
  }
}

.site-title {
  margin: 0;
  @include font-size(3.6);
  color: $teal;
  a {
    text-decoration: none;
    &:hover,
    &:active {
      text-decoration: none;
    }
  }
}

.header-tagline {
  margin: 10px 0 0 0;
  color: $teal;
  @include font-size(2.4);
}

.top-navigation {
  text-align: center;
  a {
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1em;
    &:hover {
      text-decoration: none;
    }
  }
}

.main-navigation {
  @include font-size(1.7);
  a {
    font-weight: normal;
  }
}

.menu-toggle {
  @include font-size(1.8);
  color: $purple;
}

blockquote {
  @include font-size (2.0);
  color: $blue;
  text-align: left;
  font-weight: 300;
  line-height: 1.1;
  position: relative;
  padding: $padding-sm;
}

cite {
  @include font-size(1.6);
  color: $blue;
  text-transform: uppercase;
  display: block;
  font-weight: 700;
  font-style: normal;
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid $blue;
}



.cta-banner,
.banner-quote,
.sub-quote {
  color: white;
  h1, h2, h3, h4, h5, h6, blockquote, cite {
    color: white;
  }
  cite {
    border-color: white;
  }
  blockquote:before {
    color: white;
  }
}

.sub-quote {
  blockquote {
    text-align: center;
    @include font-size(2.4)
  }
  cite {
    text-align: center;
    display: block;
  }
}



/* home */

.main-cta-text,
.flex-caption,
.video-caption {
  color: white;
  text-align: right;
  h1, h2, h3, h4, h5, h6, blockquote, cite, li, a {
    color: white;
  }
  @media screen and (max-width: $break-med) {
    text-align: left;
  }
}

.column-title {
  color: white;
  margin: 0;
}

.more-link {
  text-transform: uppercase;
  font-weight: 700;
  color: $orange;
  &:hover {
    text-decoration: none;
    color: $purple;
  }
}

.quote-content blockquote {
  &:before {
    content: '';
  }
}

#locations {
  .section-title, h2, h3, h4, h5, h6 {
    color: white;
  }
  h3 {
    @include font-size(1.8);
  }
  color: white !important;
  a {
    color: white;
    &:hover,
    &:active {
      color: $purple;
    }
  }
}

#sub-content {
  .section-title {
    color: $purple;
  }
  .post-title a{
    color: $teal;
    &:hover,
    &:active {
      color: $orange;
    }
  }
}

/* subpages */

/* flex content */

.accordion-title {
  padding: 10px;
  color: white;
  @include font-size(2.4);
  margin-bottom: $margin-sm;
  a {
    color: white;
    text-decoration: none;
  }
}

/* blog */

.post-list,
.widget_recent_entries ul,
.recent-posts-extended ul{
  .post-title,
  h3 {
    @include font-size(2.0);
    margin-bottom: 10px;
  }
  time {
    @include font-size(1.2);
    margin-bottom: 5px;
  }
}

.comment-author .fn {
  font-style: normal;
  @include font-size(1.2);
  font-weight: 700;
}

.comment-meta {
  @include font-size(1.2);
  font-weight: 700;
}

.post-meta {
  @include font-size(1.4);
  font-weight: 700;
  color: $turquoise;
  margin-bottom: 10px;
}

/* sidebar */

.sidebar .widgettitle {
  border-bottom: 2px solid white;
  padding-bottom: 5px;
  @include font-size(2.4);
  color: white;
  a {
    color: white;
    &:hover,
    &:active {
      color: $yellow;
    }
  }
}

.widget_categories,
.widget_archive {
  ul li a{
    @include font-size(1.8);
    font-weight: normal;
    &:hover {
      color: $orange;
      text-decoration: none;
      font-weight: 700;
    }
  }
}


.side-nav,
.sidebar .widget_categories,
.sidebar .widget_archive {
  ul li a{
    @include font-size(1.8);
    font-weight: normal;
    color: white;
    &:hover {
      color: $orange;
      text-decoration: none;
      font-weight: 700;
    }
  }
}


.side-menu a{
  color: white;
  &:hover,
  &:active {
    text-decoration: none;
  }
}

/* footer */

footer .widgettitle {
  color: white;
  border-color: white;
}

.footer-navigation ul {
  a {
    color: white;
  }
  li {
    @include font-size(1.6);
    font-weight: 700;
  }
  .sub-menu li a{
    font-weight: normal;
    @include font-size(1.4);
  }
}

.contact-info {
  color: white;
  @include font-size(1.4);
  .contact-title {
    @include font-size(1.6);
    text-transform: uppercase;
    margin-bottom: 0.5em;
    color: white;
  }
  a {
    color: white;
    text-decoration: none;
    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
}

.copyright {
  @include font-size(1.2);
  text-align: right;
  color: white;
  a {
    color: white;
  }
  @media screen and (max-width: $break-med) {
    text-align: center;
  }
}


/* overall styles */

.teal {
  color: $teal;
}

.orange {
  color: $orange;
}

.blue {
  color: $blue;
}

.purple {
  color: $purple;
}

.yellow {
  color: $yellow;
}