/**
 * styles.scss
 * ---
 * Main `sass` file. Import here `sass` files
 */
/**
 * utilities/variables
 * ---
 */
/**
 * Typography
 */
/**
 * Colors
 */
/**
 * Borders & Shadows
 */
/**
 * Breakpoints
 */
/**
 *  Grid
 */
/**
 * utilities/mixins
 * ---
 */
/**
 * partials/utils
 * ---
 * Utils classes
 */
.hero:before,
.sub-hero:before,
.flexslider:before, .post-list li:before,
.widget_recent_entries ul li:before,
.advanced-posts-widget ul li:before, .hero:after,
.sub-hero:after,
.flexslider:after, .post-list li:after,
.widget_recent_entries ul li:after,
.advanced-posts-widget ul li:after {
  content: " ";
  display: table;
}
.hero:after,
.sub-hero:after,
.flexslider:after, .post-list li:after,
.widget_recent_entries ul li:after,
.advanced-posts-widget ul li:after {
  clear: both;
}

.menu,
nav ul, .accordion-list, .widget ul,
.widget ol, .post-list,
.widget_recent_entries ul,
.advanced-posts-widget ul, .comments ul, .accred-list, .gallery-caption img {
  padding: 0;
  margin: 0;
}

.menu,
nav ul {
  list-style-type: none;
}

.widget_sp_image .widget-title,
.widget_sp_image .widgettitle {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.says,
.screen-reader-text,
.widget_easy_banners .widgettitle,
.advanced-posts-widget .widgettitle {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  /* many screen reader and browser combinations announce broken words as they would appear visually */
  word-wrap: normal !important;
}

/* must have higher specificity than alternative color schemes inline styles */
.wrapper .skip-link, .flex-wrapper .skip-link {
  background-color: #f1f1f1;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  color: #21759b;
  display: block;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 700;
  left: -9999em;
  outline: none;
  padding: 15px 23px 14px;
  text-decoration: none;
  text-transform: none;
  top: -9999em;
}

.logged-in .wrapper .skip-link, .logged-in .flex-wrapper .skip-link {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  font-family: "Open Sans", sans-serif;
}

.wrapper .skip-link:focus, .flex-wrapper .skip-link:focus {
  clip: auto;
  height: auto;
  left: 6px;
  top: 7px;
  width: auto;
  z-index: 100000;
}

/**
 * partials/reset
 * ---
 * Reset file
 * NOTE: also `normalize.css` is used
 */
*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 140%;
  line-height: 1.4;
  color: #252525;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

a {
  color: #252525;
  text-decoration: none;
}
a:focus, a:hover {
  text-decoration: underline;
}

input[type="text"],
input[type="search"] {
  font-size: inherit;
  line-height: inherit;
}

::-moz-selection {
  background-color: #03b0ae;
  color: #ffffff;
  text-shadow: none;
}

::selection {
  background-color: #03b0ae;
  color: #ffffff;
  text-shadow: none;
}

nav ul {
  list-style-type: none;
}

/* social media icons */
.social-navigation a,
.menu-social-links-container ul li a {
  background-size: contain;
}

/* Default circle icons */
.social-navigation a[href*="facebook.com"] {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-629 391 20 20' enable-background='new -629 391 20 20' xml:space='preserve'%3E%3Ccircle fill='%233B5998' cx='-619' cy='401' r='9.6'/%3E%3Cpath fill='%23FFFFFF' d='M-616.7,398h-1.4c-0.2,0-0.4,0.2-0.4,0.5v1h1.8l-0.3,1.5h-1.5v4.5h-1.7v-4.5h-1.5v-1.5h1.5v-0.9 c0-1.3,0.9-2.3,2.1-2.3h1.4V398z'/%3E%3C/svg%3E");
}

.social-navigation a[href*="plus.google.com"] {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-629 391 20 20'%3E%3Ccircle fill='%23DD4B39' cx='-619' cy='401' r='9.6'/%3E%3Cg%3E%3Cpolygon fill='%23FFFFFF' points='-614.5,401 -616,401 -616,402.5 -617,402.5 -617,401 -618.5,401 -618.5,400 -617,400 -617,398.5 -616,398.5 -616,400 -614.5,400'/%3E%3Cpath fill='%23FFFFFF' d='M-618.4,396.6L-618.4,396.6l-2.3-0.1c0,0-2.3,0.1-2.3,2.2c0,0.8,0.3,1.3,0.8,1.6c0.4,0.3,0.9,0.3,1.1,0.3 c0.1,0,0.1,0,0.1,0c0,0-0.1,0.5,0.3,1h0c-0.7,0-2.8,0.1-2.8,1.9c0,1.8,2,1.9,2.3,1.9c0,0,0.1,0,0.1,0s0,0,0.1,0 c0.3,0,0.9,0,1.5-0.3c0.8-0.4,1.2-1,1.2-2c0-0.9-0.6-1.4-1-1.8c-0.3-0.2-0.5-0.4-0.5-0.6c0-0.2,0.2-0.4,0.4-0.5 c0.3-0.3,0.7-0.8,0.7-1.6c0-0.7-0.1-1.2-0.7-1.5c0.1,0,0.3-0.1,0.4-0.1C-618.8,396.9-618.4,396.9-618.4,396.6z M-619.3,403.3 c0,0.7-0.6,1.2-1.5,1.3c-0.9,0.1-1.7-0.4-1.7-1.1c0-0.3,0.1-0.7,0.4-0.9c0.3-0.3,0.7-0.4,1.1-0.5c0.1,0,0.1,0,0.2,0 C-619.9,402.2-619.3,402.7-619.3,403.3z M-620.6,400.1c-0.1,0-0.1,0-0.2,0c-0.5,0-1-0.5-1.2-1.2c-0.1-0.4-0.1-0.7,0-1.1 c0.1-0.3,0.3-0.5,0.6-0.6c0.1,0,0.1,0,0.2,0c0.6,0,1,0.3,1.2,1.1C-619.7,399.1-620,399.9-620.6,400.1z'/%3E%3C/g%3E%3C/svg%3E");
}

.social-navigation a[href*="instagram.com"] {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-629 391 20 20'%3E%3Ccircle fill='%23E1306C' cx='-619' cy='401' r='9.6'/%3E%3Cpath fill='%23FFFFFF' d='M-615.1,396h-7.8c-0.6,0-1.1,0.5-1.1,1.1v7.8c0,0.6,0.5,1.1,1.1,1.1h7.8c0.6,0,1.1-0.5,1.1-1.1v-7.8 C-614,396.5-614.5,396-615.1,396z M-616.9,397.4c0-0.2,0.1-0.3,0.3-0.3h1.2c0.2,0,0.3,0.1,0.3,0.3v1.2c0,0.2-0.1,0.3-0.3,0.3h-1.2 c-0.2,0-0.3-0.1-0.3-0.3V397.4z M-619,399c1.1,0,2,0.9,2,2s-0.9,2-2,2s-2-0.9-2-2S-620.1,399-619,399z M-615,404.5 c0,0.3-0.2,0.5-0.5,0.5h-7c-0.3,0-0.5-0.2-0.5-0.5v-4h1c0,0.2,0,0.3,0,0.5c0,1.7,1.3,3,3,3s3-1.3,3-3c0-0.2,0-0.3,0-0.5h1V404.5z'/%3E%3C/svg%3E");
}

.social-navigation a[href*="twitter.com"] {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-629 391 20 20'%3E%3Ccircle fill='%2300ACED' cx='-619' cy='401' r='9.6'/%3E%3Cpath fill='%23FFFFFF' d='M-615.1,399.3c0,0.1,0,0.2,0,0.2c0,2.5-1.9,5.4-5.4,5.4c-1.1,0-2.1-0.3-2.9-0.9c0.1,0,0.3,0,0.5,0 c0.9,0,1.7-0.3,2.3-0.8c-0.8,0-1.5-0.6-1.8-1.3c0.1,0,0.2,0,0.4,0c0.2,0,0.3,0,0.5-0.1c-0.9-0.2-1.5-0.9-1.5-1.9v0 c0.3,0.1,0.5,0.2,0.9,0.2c-0.5-0.3-0.8-0.9-0.8-1.6c0-0.3,0.1-0.7,0.3-1c0.9,1.1,2.3,1.9,3.9,2c0-0.1,0-0.3,0-0.4 c0-1,0.8-1.9,1.9-1.9c0.5,0,1,0.2,1.4,0.6c0.4-0.1,0.8-0.2,1.2-0.5c-0.1,0.4-0.4,0.8-0.8,1c0.4,0,0.7-0.1,1.1-0.3 C-614.4,398.7-614.7,399-615.1,399.3z'/%3E%3C/svg%3E");
}

.social-navigation a[href*="linkedin.com"] {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-629 391 20 20'%3E%3Ccircle fill='%230077B5' cx='-619' cy='401' r='9.6'/%3E%3Cg%3E%3Crect x='-623.3' y='398.7' fill='%23FFFFFF' width='1.9' height='6.3'/%3E%3Cpath fill='%23FFFFFF' d='M-622.3,398c-0.6,0-1-0.4-1-1c0-0.5,0.4-1,1-1c0.6,0,1,0.4,1,1C-621.3,397.5-621.7,398-622.3,398z'/%3E%3Cpath fill='%23FFFFFF' d='M-614.3,405h-1.9v-3.5c0-0.8-0.3-1.4-1-1.4c-0.5,0-0.9,0.4-1,0.7c-0.1,0.1-0.1,0.3-0.1,0.5v3.6h-1.9v-4.3 c0-0.8,0-1.4-0.1-2h1.7l0.1,0.9h0c0.3-0.4,0.9-1,1.9-1c1.3,0,2.2,0.9,2.2,2.7V405z'/%3E%3C/g%3E%3C/svg%3E");
}

.social-navigation a[href*="pinterest.com"] {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Ccircle fill='%23BD081C' cx='10' cy='10' r='9.6'/%3E%3Cpath fill='%23FFFFFF' d='M10.7,12.3c-0.6,0-0.9-0.4-1.4-0.6C9,13,8.7,14.4,7.8,15.1C7.5,13,8.2,11.4,8.6,9.7C8,8.7,8.7,6.8,9.9,7.2 c1.5,0.6-1.3,3.6,0.6,4c2,0.4,2.8-3.4,1.6-4.6c-1.8-1.8-5.1,0-4.7,2.5C7.3,9.7,8,9.9,7.5,10.8C6.4,10.5,6,9.7,6.1,8.5 c0-2,1.7-3.3,3.4-3.5c2.1-0.2,4.1,0.8,4.4,2.8C14.2,10,12.9,12.5,10.7,12.3z'/%3E%3C/svg%3E");
}

.social-navigation a[href*="vimeo.com"] {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Ccircle fill='%231AB7EA' cx='10' cy='10' r='9.6'/%3E%3Cpath fill='%23FFFFFF' d='M14.4,8.1c-0.5,2.9-3.3,5.4-4.2,6c-0.9,0.6-1.6-0.2-1.9-0.8C8,12.6,7,8.9,6.7,8.6c-0.3-0.3-1,0.3-1,0.3 L5.4,8.4c0,0,1.5-1.9,2.7-2.1c1.2-0.3,1.2,2,1.5,3.2c0.3,1.2,0.5,1.9,0.7,1.9c0.3,0,0.7-0.7,1.3-1.7c0.5-1,0-1.9-1.1-1.3 C11,5.8,14.9,5.2,14.4,8.1z'/%3E%3C/svg%3E");
}

.social-navigation a[href*="youtube.com"] {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cellipse fill='%23CD201F' cx='10' cy='9.4' rx='9.6' ry='9'/%3E%3Cpath fill='%23FFFFFF' d='M10,13c-4.9,0-5-0.4-5-3.6s0.1-3.6,5-3.6s5,0.4,5,3.6S14.9,13,10,13z'/%3E%3Cpath fill='%23CD201F' d='M11.6,9.2l-2.2-1C9.2,8.1,9,8.2,9,8.4v1.8c0,0.2,0.2,0.3,0.4,0.2l2.2-1C11.8,9.4,11.8,9.3,11.6,9.2z'/%3E%3C/svg%3E");
}

.social-navigation a[href*="flickr.com"] {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Ccircle fill='%230063DC' cx='10' cy='10' r='9.6'/%3E%3Cellipse fill='%23FFFFFF' cx='7.4' cy='10' rx='2' ry='2'/%3E%3Cellipse fill='%23FFFFFF' cx='12.6' cy='10' rx='2' ry='2'/%3E%3C/svg%3E");
}

.social-navigation a[href^="mailto:"] {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Ccircle fill='%23406672' cx='10' cy='10' r='9.6'/%3E%3Cpath fill='%23FFFFFF' d='M6.2,7h7.5c0.4,0,0.2,0.5,0,0.6c-0.2,0.1-3.2,1.9-3.3,2S10.1,9.8,10,9.8c-0.1,0-0.3,0-0.4-0.1 c-0.1-0.1-3.1-1.9-3.3-2C6,7.5,5.8,7,6.2,7z'/%3E%3Cpath fill='%23FFFFFF' d='M14,12.5c0,0.2-0.3,0.5-0.4,0.5H6.4C6.3,13,6,12.7,6,12.5c0,0,0-3.6,0-3.6c0-0.1,0-0.2,0.2-0.1 c0.2,0.1,3.3,1.9,3.4,2c0.2,0.1,0.3,0.1,0.4,0.1c0.1,0,0.3,0,0.4-0.1s3.2-1.9,3.4-2C14,8.6,14,8.8,14,8.9C14,8.9,14,12.5,14,12.5z'/%3E%3C/svg%3E");
}

.social-navigation a[href*="donate"] {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%232b3890' viewBox='0 0 20 20'%3E%3Ccircle cx='10' cy='10' r='10' fill='%23007840'/%3E%3Cpath d='M20.7,13.8H11.3a.4.4,0,0,0-.4.4v3.3a.4.4,0,0,0,.4.4h.4v3.6a.4.4,0,0,0,.4.4h8a.4.4,0,0,0,.4-.4V17.8h.4a.4.4,0,0,0,.4-.4V14.2A.4.4,0,0,0,20.7,13.8Zm-5.5,6.9a.4.4,0,0,1-.4.4H12.7a.4.4,0,0,1-.4-.4V17.8a.4.4,0,0,1,.4-.4h2.2a.4.4,0,0,1,.4.4Zm0-4.4a.4.4,0,0,1-.4.4H12a.4.4,0,0,1-.4-.4V14.9a.4.4,0,0,1,.4-.4h2.9a.4.4,0,0,1,.4.4Zm4.4,4.4a.4.4,0,0,1-.4.4H17.1a.4.4,0,0,1-.4-.4V17.8a.4.4,0,0,1,.4-.4h2.2a.4.4,0,0,1,.4.4Zm.7-4.4a.4.4,0,0,1-.4.4H17.1a.4.4,0,0,1-.4-.4V14.9a.4.4,0,0,1,.4-.4H20a.4.4,0,0,1,.4.4Zm-6-2.6h3.4a2.5,2.5,0,0,0,1.2-1.5,1.2,1.2,0,0,0-.5-1.1,1.3,1.3,0,0,0-.8-.3c-.8,0-1.3,1-1.6,1.9-.3-1.2-.9-2.7-1.9-2.7a1.3,1.3,0,0,0-.9.4,1.5,1.5,0,0,0-.6,1.4A3.3,3.3,0,0,0,14.4,13.8Zm3.2-2h.3c.2.1.2.2.2.3s-.6.8-1.3,1.2S17.3,11.8,17.6,11.8Zm-3.8-.5.3-.2c.5,0,.9,1.2,1.2,2.3-.9-.5-1.7-1.1-1.8-1.6S13.5,11.5,13.8,11.2Z' transform='translate(-6 -6)' fill='%23fff'/%3E%3C/svg%3E");
}

/* White icons with no background */
.social-navigation.open-icons a[href*="facebook.com"] {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 20 20'%3E%3Cpath d='M17,1H3C1.9,1,1,1.9,1,3v14c0,1.101,0.9,2,2,2h7v-7H8V9.525h2V7.475c0-2.164,1.212-3.684,3.766-3.684l1.803,0.002v2.605 h-1.197C13.378,6.398,13,7.144,13,7.836v1.69h2.568L15,12h-2v7h4c1.1,0,2-0.899,2-2V3C19,1.9,18.1,1,17,1z'/%3E%3C/svg%3E");
}

.social-navigation.open-icons a[href*="plus.google.com"] {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 20 20'%3E%3Cpath d='M1.989,5.589c0,1.494,0.499,2.572,1.482,3.205c0.806,0.52,1.74,0.598,2.226,0.598c0.118,0,0.213-0.006,0.279-0.01 c0,0-0.154,1.004,0.59,1.996H6.532c-1.289,0-5.493,0.269-5.493,3.727c0,3.516,3.861,3.695,4.636,3.695 c0.061,0,0.097-0.002,0.097-0.002c0.008,0,0.063,0.002,0.158,0.002c0.497,0,1.782-0.062,2.975-0.643 c1.548-0.75,2.333-2.059,2.333-3.885c0-1.764-1.196-2.814-2.069-3.582c-0.533-0.469-0.994-0.873-0.994-1.266 c0-0.4,0.337-0.701,0.762-1.082c0.689-0.615,1.339-1.492,1.339-3.15c0-1.457-0.189-2.436-1.354-3.057 c0.121-0.062,0.551-0.107,0.763-0.137c0.631-0.086,1.554-0.184,1.554-0.699V1.2H6.64C6.594,1.202,1.989,1.372,1.989,5.589z M9.413,14.602c0.088,1.406-1.115,2.443-2.922,2.574c-1.835,0.135-3.345-0.691-3.433-2.096c-0.043-0.676,0.254-1.336,0.835-1.863 c0.589-0.533,1.398-0.863,2.278-0.928c0.104-0.006,0.207-0.012,0.31-0.012C8.18,12.278,9.33,13.276,9.413,14.602z M8.212,4.626 c0.451,1.588-0.23,3.246-1.316,3.553C6.771,8.214,6.643,8.231,6.512,8.231c-0.994,0-1.979-1.006-2.345-2.393 C3.963,5.062,3.98,4.38,4.214,3.726c0.229-0.645,0.643-1.078,1.163-1.225c0.125-0.035,0.254-0.053,0.385-0.053 C6.962,2.448,7.734,2.946,8.212,4.626z M16,8V5h-2v3h-3v2h3v3h2v-3h3V8H16z'/%3E%3C/svg%3E");
}

.social-navigation.open-icons a[href*="instagram.com"] {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 20 20'%3E%3Cpath d='M17,1H3C1.9,1,1,1.9,1,3v14c0,1.101,0.9,2,2,2h14c1.1,0,2-0.899,2-2V3C19,1.9,18.1,1,17,1z M9.984,15.523 c3.059,0,5.538-2.481,5.538-5.539c0-0.338-0.043-0.664-0.103-0.984H17v7.216c0,0.382-0.31,0.69-0.693,0.69H3.693 C3.31,16.906,3,16.598,3,16.216V9h1.549C4.488,9.32,4.445,9.646,4.445,9.984C4.445,13.043,6.926,15.523,9.984,15.523z M6.523,9.984 c0-1.912,1.55-3.461,3.462-3.461c1.911,0,3.462,1.549,3.462,3.461s-1.551,3.462-3.462,3.462C8.072,13.446,6.523,11.896,6.523,9.984z M16.307,6h-1.615C14.31,6,14,5.688,14,5.308V3.691C14,3.309,14.31,3,14.691,3h1.615C16.69,3,17,3.309,17,3.691v1.616 C17,5.688,16.69,6,16.307,6z'/%3E%3C/svg%3E");
}

.social-navigation.open-icons a[href*="pinterest.com"] {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 20 20'%3E%3Cpath d='M8.617,13.227C8.091,15.981,7.45,18.621,5.549,20C4.963,15.838,6.41,12.713,7.083,9.395 c-1.147-1.93,0.138-5.812,2.555-4.855c2.975,1.176-2.576,7.172,1.15,7.922c3.891,0.781,5.479-6.75,3.066-9.199 C10.369-0.275,3.708,3.18,4.528,8.245c0.199,1.238,1.478,1.613,0.511,3.322c-2.231-0.494-2.897-2.254-2.811-4.6 c0.138-3.84,3.449-6.527,6.771-6.9c4.201-0.471,8.144,1.543,8.689,5.494c0.613,4.461-1.896,9.293-6.389,8.945 C10.081,14.411,9.571,13.807,8.617,13.227z'/%3E%3C/svg%3E");
}

.social-navigation.open-icons a[href*="twitter.com"] {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 20 20'%3E%3Cpath d='M17.316,6.246c0.008,0.162,0.011,0.326,0.011,0.488c0,4.99-3.797,10.742-10.74,10.742c-2.133,0-4.116-0.625-5.787-1.697 c0.296,0.035,0.596,0.053,0.9,0.053c1.77,0,3.397-0.604,4.688-1.615c-1.651-0.031-3.046-1.121-3.526-2.621 c0.23,0.043,0.467,0.066,0.71,0.066c0.345,0,0.679-0.045,0.995-0.131c-1.727-0.348-3.028-1.873-3.028-3.703c0-0.016,0-0.031,0-0.047 c0.509,0.283,1.092,0.453,1.71,0.473c-1.013-0.678-1.68-1.832-1.68-3.143c0-0.691,0.186-1.34,0.512-1.898 C3.942,5.498,6.725,7,9.862,7.158C9.798,6.881,9.765,6.594,9.765,6.297c0-2.084,1.689-3.773,3.774-3.773 c1.086,0,2.067,0.457,2.756,1.191c0.859-0.17,1.667-0.484,2.397-0.916c-0.282,0.881-0.881,1.621-1.66,2.088 c0.764-0.092,1.49-0.293,2.168-0.594C18.694,5.051,18.054,5.715,17.316,6.246z'/%3E%3C/svg%3E");
}

.social-navigation.open-icons a[href*="vimeo.com"] {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 20 20'%3E%3Cpath d='M18.91,5.84c-1.006,5.773-6.625,10.66-8.315,11.777c-1.69,1.115-3.233-0.447-3.792-1.631 C6.162,14.639,4.244,7.33,3.741,6.725C3.238,6.119,1.731,7.33,1.731,7.33L1,6.354c0,0,3.061-3.725,5.391-4.191 C8.861,1.67,8.857,6.027,9.451,8.445c0.574,2.342,0.961,3.68,1.463,3.68c0.502,0,1.462-1.305,2.512-3.305 c1.053-2.004-0.045-3.772-2.101-2.514C12.148,1.279,19.916,0.07,18.91,5.84z'/%3E%3C/svg%3E");
}

.social-navigation.open-icons a[href*="youtube.com"] {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 20 20'%3E%3Cpath d='M10,2.3C0.172,2.3,0,3.174,0,10s0.172,7.7,10,7.7s10-0.874,10-7.7S19.828,2.3,10,2.3z M13.205,10.334l-4.49,2.096 C8.322,12.612,8,12.408,8,11.974V8.026C8,7.593,8.322,7.388,8.715,7.57l4.49,2.096C13.598,9.85,13.598,10.15,13.205,10.334z'/%3E%3C/svg%3E");
}

.social-navigation.open-icons a[href^="mailto:"] {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 20 20'%3E%3Cpath d='M1.574,5.286c0.488,0.262,7.248,3.894,7.5,4.029C9.326,9.45,9.652,9.514,9.98,9.514c0.328,0,0.654-0.064,0.906-0.199 s7.012-3.767,7.5-4.029C18.875,5.023,19.337,4,18.44,4H1.521C0.624,4,1.086,5.023,1.574,5.286z M18.613,7.489 c-0.555,0.289-7.387,3.849-7.727,4.027s-0.578,0.199-0.906,0.199s-0.566-0.021-0.906-0.199S1.941,7.777,1.386,7.488 C0.996,7.284,1,7.523,1,7.707S1,15,1,15c0,0.42,0.566,1,1,1h16c0.434,0,1-0.58,1-1c0,0,0-7.108,0-7.292S19.004,7.285,18.613,7.489z'/%3E%3C/svg%3E");
}

.social-navigation.open-icons a[href*="donate"] {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 20 20'%3E%3Cpath d='M16.87,6.25H.62A.62.62,0,0,0,0,6.87V12.5a.62.62,0,0,0,.62.62h.62v6.25a.62.62,0,0,0,.62.62H15.62a.62.62,0,0,0,.62-.62V13.13h.62a.62.62,0,0,0,.62-.62V6.88A.62.62,0,0,0,16.87,6.25ZM7.5,18.12a.62.62,0,0,1-.62.62H3.12a.62.62,0,0,1-.62-.62v-5a.62.62,0,0,1,.62-.62H6.87a.62.62,0,0,1,.62.62Zm0-7.5a.62.62,0,0,1-.62.62h-5a.62.62,0,0,1-.62-.62V8.12a.62.62,0,0,1,.62-.62h5a.62.62,0,0,1,.62.62Zm7.5,7.5a.62.62,0,0,1-.62.62H10.62a.62.62,0,0,1-.62-.62v-5a.62.62,0,0,1,.62-.62h3.75a.62.62,0,0,1,.62.62Zm1.25-7.5a.62.62,0,0,1-.62.62h-5a.62.62,0,0,1-.62-.62V8.12a.62.62,0,0,1,.62-.62h5a.62.62,0,0,1,.62.62ZM6,6.25h5.75a4.35,4.35,0,0,0,2-2.63,2,2,0,0,0-.86-1.84,2.19,2.19,0,0,0-1.35-.53C10.12,1.24,9.31,3,8.87,4.55,8.35,2.56,7.35,0,5.62,0A2.27,2.27,0,0,0,4.12.65,2.51,2.51,0,0,0,3.16,3C3.36,4.3,4.69,5.44,6,6.25Zm5.57-3.51a.91.91,0,0,1,.51.24c.32.25.3.41.3.46-.06.55-1.09,1.41-2.28,2.12C10.43,4,11,2.74,11.54,2.74ZM5,1.8a1,1,0,0,1,.6-.3c.77,0,1.57,2,2,4-1.46-.78-3-1.88-3.11-2.77C4.53,2.61,4.48,2.29,5,1.8Z'%3E%3C/path%3E%3C/svg%3E");
}

/* Open icons with no background - brand colors */
.social-navigation.color-icons a[href*="facebook.com"] {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%233B5998' viewBox='0 0 20 20'%3E%3Cpath d='M17,1H3C1.9,1,1,1.9,1,3v14c0,1.101,0.9,2,2,2h7v-7H8V9.525h2V7.475c0-2.164,1.212-3.684,3.766-3.684l1.803,0.002v2.605 h-1.197C13.378,6.398,13,7.144,13,7.836v1.69h2.568L15,12h-2v7h4c1.1,0,2-0.899,2-2V3C19,1.9,18.1,1,17,1z'/%3E%3C/svg%3E");
}

.social-navigation.color-icons a[href*="plus.google.com"] {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23DD4B39' viewBox='0 0 20 20'%3E%3Cpath d='M1.989,5.589c0,1.494,0.499,2.572,1.482,3.205c0.806,0.52,1.74,0.598,2.226,0.598c0.118,0,0.213-0.006,0.279-0.01 c0,0-0.154,1.004,0.59,1.996H6.532c-1.289,0-5.493,0.269-5.493,3.727c0,3.516,3.861,3.695,4.636,3.695 c0.061,0,0.097-0.002,0.097-0.002c0.008,0,0.063,0.002,0.158,0.002c0.497,0,1.782-0.062,2.975-0.643 c1.548-0.75,2.333-2.059,2.333-3.885c0-1.764-1.196-2.814-2.069-3.582c-0.533-0.469-0.994-0.873-0.994-1.266 c0-0.4,0.337-0.701,0.762-1.082c0.689-0.615,1.339-1.492,1.339-3.15c0-1.457-0.189-2.436-1.354-3.057 c0.121-0.062,0.551-0.107,0.763-0.137c0.631-0.086,1.554-0.184,1.554-0.699V1.2H6.64C6.594,1.202,1.989,1.372,1.989,5.589z M9.413,14.602c0.088,1.406-1.115,2.443-2.922,2.574c-1.835,0.135-3.345-0.691-3.433-2.096c-0.043-0.676,0.254-1.336,0.835-1.863 c0.589-0.533,1.398-0.863,2.278-0.928c0.104-0.006,0.207-0.012,0.31-0.012C8.18,12.278,9.33,13.276,9.413,14.602z M8.212,4.626 c0.451,1.588-0.23,3.246-1.316,3.553C6.771,8.214,6.643,8.231,6.512,8.231c-0.994,0-1.979-1.006-2.345-2.393 C3.963,5.062,3.98,4.38,4.214,3.726c0.229-0.645,0.643-1.078,1.163-1.225c0.125-0.035,0.254-0.053,0.385-0.053 C6.962,2.448,7.734,2.946,8.212,4.626z M16,8V5h-2v3h-3v2h3v3h2v-3h3V8H16z'/%3E%3C/svg%3E");
}

.social-navigation.color-icons a[href*="instagram.com"] {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23E1306C' viewBox='0 0 20 20'%3E%3Cpath d='M17,1H3C1.9,1,1,1.9,1,3v14c0,1.101,0.9,2,2,2h14c1.1,0,2-0.899,2-2V3C19,1.9,18.1,1,17,1z M9.984,15.523 c3.059,0,5.538-2.481,5.538-5.539c0-0.338-0.043-0.664-0.103-0.984H17v7.216c0,0.382-0.31,0.69-0.693,0.69H3.693 C3.31,16.906,3,16.598,3,16.216V9h1.549C4.488,9.32,4.445,9.646,4.445,9.984C4.445,13.043,6.926,15.523,9.984,15.523z M6.523,9.984 c0-1.912,1.55-3.461,3.462-3.461c1.911,0,3.462,1.549,3.462,3.461s-1.551,3.462-3.462,3.462C8.072,13.446,6.523,11.896,6.523,9.984z M16.307,6h-1.615C14.31,6,14,5.688,14,5.308V3.691C14,3.309,14.31,3,14.691,3h1.615C16.69,3,17,3.309,17,3.691v1.616 C17,5.688,16.69,6,16.307,6z'/%3E%3C/svg%3E");
}

.social-navigation.color-icons a[href*="pinterest.com"] {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23BD081C' viewBox='0 0 20 20'%3E%3Cpath d='M8.617,13.227C8.091,15.981,7.45,18.621,5.549,20C4.963,15.838,6.41,12.713,7.083,9.395 c-1.147-1.93,0.138-5.812,2.555-4.855c2.975,1.176-2.576,7.172,1.15,7.922c3.891,0.781,5.479-6.75,3.066-9.199 C10.369-0.275,3.708,3.18,4.528,8.245c0.199,1.238,1.478,1.613,0.511,3.322c-2.231-0.494-2.897-2.254-2.811-4.6 c0.138-3.84,3.449-6.527,6.771-6.9c4.201-0.471,8.144,1.543,8.689,5.494c0.613,4.461-1.896,9.293-6.389,8.945 C10.081,14.411,9.571,13.807,8.617,13.227z'/%3E%3C/svg%3E");
}

.social-navigation.color-icons a[href*="twitter.com"] {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300ACED' viewBox='0 0 20 20'%3E%3Cpath d='M17.316,6.246c0.008,0.162,0.011,0.326,0.011,0.488c0,4.99-3.797,10.742-10.74,10.742c-2.133,0-4.116-0.625-5.787-1.697 c0.296,0.035,0.596,0.053,0.9,0.053c1.77,0,3.397-0.604,4.688-1.615c-1.651-0.031-3.046-1.121-3.526-2.621 c0.23,0.043,0.467,0.066,0.71,0.066c0.345,0,0.679-0.045,0.995-0.131c-1.727-0.348-3.028-1.873-3.028-3.703c0-0.016,0-0.031,0-0.047 c0.509,0.283,1.092,0.453,1.71,0.473c-1.013-0.678-1.68-1.832-1.68-3.143c0-0.691,0.186-1.34,0.512-1.898 C3.942,5.498,6.725,7,9.862,7.158C9.798,6.881,9.765,6.594,9.765,6.297c0-2.084,1.689-3.773,3.774-3.773 c1.086,0,2.067,0.457,2.756,1.191c0.859-0.17,1.667-0.484,2.397-0.916c-0.282,0.881-0.881,1.621-1.66,2.088 c0.764-0.092,1.49-0.293,2.168-0.594C18.694,5.051,18.054,5.715,17.316,6.246z'/%3E%3C/svg%3E");
}

.social-navigation.color-icons a[href*="vimeo.com"] {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%231AB7EA' viewBox='0 0 20 20'%3E%3Cpath d='M18.91,5.84c-1.006,5.773-6.625,10.66-8.315,11.777c-1.69,1.115-3.233-0.447-3.792-1.631 C6.162,14.639,4.244,7.33,3.741,6.725C3.238,6.119,1.731,7.33,1.731,7.33L1,6.354c0,0,3.061-3.725,5.391-4.191 C8.861,1.67,8.857,6.027,9.451,8.445c0.574,2.342,0.961,3.68,1.463,3.68c0.502,0,1.462-1.305,2.512-3.305 c1.053-2.004-0.045-3.772-2.101-2.514C12.148,1.279,19.916,0.07,18.91,5.84z'/%3E%3C/svg%3E");
}

.social-navigation.color-icons a[href*="youtube.com"] {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23CD201F' viewBox='0 0 20 20'%3E%3Cpath d='M10,2.3C0.172,2.3,0,3.174,0,10s0.172,7.7,10,7.7s10-0.874,10-7.7S19.828,2.3,10,2.3z M13.205,10.334l-4.49,2.096 C8.322,12.612,8,12.408,8,11.974V8.026C8,7.593,8.322,7.388,8.715,7.57l4.49,2.096C13.598,9.85,13.598,10.15,13.205,10.334z'/%3E%3C/svg%3E");
}

.social-navigation.color-icons a[href^="mailto:"] {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23c0c3c4' viewBox='0 0 20 20'%3E%3Cpath d='M1.574,5.286c0.488,0.262,7.248,3.894,7.5,4.029C9.326,9.45,9.652,9.514,9.98,9.514c0.328,0,0.654-0.064,0.906-0.199 s7.012-3.767,7.5-4.029C18.875,5.023,19.337,4,18.44,4H1.521C0.624,4,1.086,5.023,1.574,5.286z M18.613,7.489 c-0.555,0.289-7.387,3.849-7.727,4.027s-0.578,0.199-0.906,0.199s-0.566-0.021-0.906-0.199S1.941,7.777,1.386,7.488 C0.996,7.284,1,7.523,1,7.707S1,15,1,15c0,0.42,0.566,1,1,1h16c0.434,0,1-0.58,1-1c0,0,0-7.108,0-7.292S19.004,7.285,18.613,7.489z'/%3E%3C/svg%3E");
}

.social-navigation.color-icons a[href*="donate"] {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%232b3890' viewBox='0 0 20 20'%3E%3Cpath d='M16.87,6.25H.62A.62.62,0,0,0,0,6.87V12.5a.62.62,0,0,0,.62.62h.62v6.25a.62.62,0,0,0,.62.62H15.62a.62.62,0,0,0,.62-.62V13.13h.62a.62.62,0,0,0,.62-.62V6.88A.62.62,0,0,0,16.87,6.25ZM7.5,18.12a.62.62,0,0,1-.62.62H3.12a.62.62,0,0,1-.62-.62v-5a.62.62,0,0,1,.62-.62H6.87a.62.62,0,0,1,.62.62Zm0-7.5a.62.62,0,0,1-.62.62h-5a.62.62,0,0,1-.62-.62V8.12a.62.62,0,0,1,.62-.62h5a.62.62,0,0,1,.62.62Zm7.5,7.5a.62.62,0,0,1-.62.62H10.62a.62.62,0,0,1-.62-.62v-5a.62.62,0,0,1,.62-.62h3.75a.62.62,0,0,1,.62.62Zm1.25-7.5a.62.62,0,0,1-.62.62h-5a.62.62,0,0,1-.62-.62V8.12a.62.62,0,0,1,.62-.62h5a.62.62,0,0,1,.62.62ZM6,6.25h5.75a4.35,4.35,0,0,0,2-2.63,2,2,0,0,0-.86-1.84,2.19,2.19,0,0,0-1.35-.53C10.12,1.24,9.31,3,8.87,4.55,8.35,2.56,7.35,0,5.62,0A2.27,2.27,0,0,0,4.12.65,2.51,2.51,0,0,0,3.16,3C3.36,4.3,4.69,5.44,6,6.25Zm5.57-3.51a.91.91,0,0,1,.51.24c.32.25.3.41.3.46-.06.55-1.09,1.41-2.28,2.12C10.43,4,11,2.74,11.54,2.74ZM5,1.8a1,1,0,0,1,.6-.3c.77,0,1.57,2,2,4-1.46-.78-3-1.88-3.11-2.77C4.53,2.61,4.48,2.29,5,1.8Z'%3E%3C/path%3E%3C/svg%3E");
}

/**
 *
 * Tribe events calendar plugin styles
 *
 */
.tribe-events-widget-link a {
  border-top: 2px solid white;
  padding-top: 10px;
}

.tribe-event-title {
  font-weight: bold;
  font-size: 20px;
  font-size: 2rem;
  margin: 0 !important;
}

.tribe-event-duration {
  font-size: 18px;
  font-size: 1.8rem;
}

.tribe-events-list-widget .tribe-events-list-widget-events {
  padding: 0;
  margin-bottom: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-grid-columns: 100px 1fr;
      grid-template-columns: 100px 1fr;
  align-items: center;
}
.tribe-events-list-widget .tribe-events-list-widget-events .cal-icon {
  -ms-grid-column: 1;
      grid-column: 1;
  -ms-grid-row: 1 / span2;
      grid-row: 1 / span2;
}
.tribe-events-list-widget .tribe-events-list-widget-events .tribe-event-title {
  -ms-grid-column: 2;
      grid-column: 2;
  -ms-grid-row: 1;
      grid-row: 1;
  -ms-grid-row-align: end;
      align-self: end;
}
.tribe-events-list-widget .tribe-events-list-widget-events .tribe-event-duration {
  -ms-grid-column: 2;
      grid-column: 2;
  -ms-grid-row: 2;
      grid-row: 2;
  -ms-grid-row-align: start;
      align-self: start;
}

.month-icon {
  font-size: 20px;
  font-size: 2rem;
  line-height: 1em;
  display: block;
}

.day-icon {
  font-size: 48px;
  font-size: 4.8rem;
  line-height: 1em;
  display: block;
  font-weight: 700;
}

.tribe-events-calendar tr:nth-child(even) {
  background: none;
}

#tribe-bar-form .tribe-bar-submit input[type=submit] {
  background-color: #f07755;
  margin: 0 !important;
}
#tribe-bar-form .tribe-bar-submit input[type=submit], .widget_easy_banners .widgin-item, .btn-teal, .btn-orange, .btn-blue, .btn-purple, .btn-yellow, .btn-main-cta, .slide-link, form button, form html input[type="button"], form input[type="reset"], form input[type="submit"], .reply a {
  padding: 8px 10px;
  font-family: "Poppins", sans-serif;
  margin: 20px 0;
  color: white !important;
  font-size: 16px;
  font-size: 1.6rem;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  display: inline-block;
  border: 1px solid white;
}
#tribe-bar-form .tribe-bar-submit input[type=submit]:hover, .widget_easy_banners .widgin-item:hover, .btn-teal:hover, .btn-orange:hover, .btn-blue:hover, .btn-purple:hover, .btn-yellow:hover, .btn-main-cta:hover, .slide-link:hover, form button:hover, form html input[type="button"]:hover, form input[type="reset"]:hover, form input[type="submit"]:hover, .reply a:hover {
  cursor: pointer;
  text-decoration: none;
}
#tribe-bar-form .tribe-bar-submit input[type=submit]:hover {
  background-color: #959595 !important;
  color: white !important;
}

/**
 *
 * Easy banners button styles
 *
 */
.widget_easy_banners .widgin-item {
  background-color: transparent;
  margin: 0;
}
.widget_easy_banners .widgin-item:hover {
  background-color: #959595 !important;
  color: white !important;
}
.widget_easy_banners .widgin-item a:hover,
.widget_easy_banners .widgin-item a:active {
  text-decoration: none;
}
.widget_easy_banners .widgin-item a:hover p,
.widget_easy_banners .widgin-item a:active p {
  color: white;
}
.widget_easy_banners .widgin-item p {
  margin: 0;
}

.header-right .widgin-item {
  margin: 0 !important;
}

.sidebar .widgin-item {
  display: block;
}

.footer .widgin-item {
  display: block;
  margin: 0;
}

/**
 *
 * Slideshow custom styles
 *
 */
.loading {
  min-height: 600px;
}

/**
 * objects/layout/grid
 * ---
 */
*, *:before, *:after {
  box-sizing: border-box;
}

.site-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  max-width: 1490px;
  margin: 0 auto;
  position: relative;
  justify-content: center;
  z-index: 1;
}
@media screen and (max-width: 800px) {
  .site-container {
    display: block;
  }
}

.content-container {
  z-index: 1000;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (33.333%)[3];
      grid-template-columns: repeat(3, 33.333%);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-grid-column: 1;
      grid-column: 1;
  -ms-grid-row: 1;
      grid-row: 1;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  justify-content: center;
}
@media screen and (max-width: 1246px) {
  .content-container {
    -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
  }
}
@media screen and (max-width: 800px) {
  .content-container {
    display: block;
  }
}

.wrapper, .flex-wrapper {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin: 0 auto;
  position: relative;
}
.wrapper:after, .flex-wrapper:after {
  content: " ";
  display: block;
  clear: both;
}
@media screen and (max-width: 1280px) {
  .wrapper, .flex-wrapper {
    padding: 0 20px;
  }
}

.flex-wrapper {
  display: flex;
  align-items: stretch;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}

.grid-wrapper {
  display: -ms-grid;
  display: grid;
}
@media screen and (max-width: 800px) {
  .grid-wrapper {
    display: block;
  }
}

.col2 {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
  padding-right: 1.69492%;
}
.col2:nth-child(even) {
  float: right;
  margin-right: 0;
  padding-right: 0;
  padding-left: 1.69492%;
}
@media screen and (max-width: 800px) {
  .col2:nth-child(even) {
    float: none;
    width: 100%;
    padding: 0;
  }
}
@media screen and (max-width: 800px) {
  .col2 {
    float: none;
    width: 100%;
    padding: 0;
  }
}

.col3 {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
}
.col3:nth-child(3n) {
  float: right;
  margin-right: 0;
}
@media screen and (max-width: 800px) {
  .col3:nth-child(3n) {
    float: none;
    width: 100%;
    padding: 0;
  }
}
.col3:nth-child(4n) {
  clear: both;
}
@media screen and (max-width: 800px) {
  .col3 {
    float: none;
    width: 100%;
    padding: 0;
  }
}

.col4 {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
}
.col4:nth-child(4n) {
  float: right;
  margin-right: 0;
}
@media screen and (max-width: 800px) {
  .col4:nth-child(4n) {
    float: none;
    width: 100%;
    padding: 0;
  }
}
.col4:nth-child(5n) {
  clear: both;
}
@media screen and (max-width: 1246px) {
  .col4 {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
  .col4:nth-child(even) {
    float: right;
    margin-right: 0;
  }
}
@media screen and (max-width: 800px) {
  .col4 {
    float: none;
    width: 100%;
    padding: 0;
  }
}

.last {
  float: right;
  margin-right: 0;
}

/**
 * objects/layout/layout
 * ---
 */
* > :last-child {
  margin-bottom: 0;
}

/* layout - header */
#masthead {
  position: relative;
  z-index: 2;
}
#masthead .flex-wrapper {
  align-items: center;
  justify-content: flex-start;
  padding: 0;
}
@media screen and (max-width: 800px) {
  #masthead .flex-wrapper {
    padding-bottom: 0;
  }
}

.announcement {
  -ms-grid-row: 1;
      grid-row: 1;
  -ms-grid-column-span: 3;
  -ms-grid-column: 1;
      grid-column: 1 / span 3;
  padding: 10px 0;
}
.announcement p {
  margin: 0;
}

.top-bar {
  -ms-grid-row: 2;
      grid-row: 2;
  -ms-grid-column-span: 1;
  -ms-grid-column: 3;
      grid-column: 3 / span 1;
}
@media screen and (max-width: 1246px) {
  .top-bar {
    -ms-grid-column-span: 1;
    -ms-grid-column: 2;
        grid-column: 2 / span 1;
  }
}

#header-left {
  -ms-grid-row: 3;
      grid-row: 3;
  -ms-grid-column-span: 1;
  -ms-grid-column: 1;
      grid-column: 1 / span 1;
  -ms-grid-row-align: center;
      align-self: center;
  padding: 0 0 20px 0;
}
@media screen and (max-width: 1280px) {
  #header-left {
    padding: 20px;
  }
}
@media screen and (max-width: 800px) {
  #header-left {
    text-align: center;
  }
}

.logo-img {
  height: auto;
  width: auto;
  max-width: 100%;
}
@media screen and (max-width: 1246px) {
  .logo-img {
    width: auto;
  }
}

/* layout - nav */
.top-navigation {
  margin-top: -10px;
}
.top-navigation ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding: 0;
}
.top-navigation ul > li {
  margin: 0;
}
.top-navigation ul > li a {
  width: 100%;
  display: block;
  padding: 10px;
}
.top-navigation ul > li:nth-of-type(1) {
  -ms-grid-column: 1;
}
.top-navigation ul > li:nth-of-type(2) {
  -ms-grid-column: 2;
}
.top-navigation ul > li:nth-of-type(3) {
  -ms-grid-column: 3;
}
.top-navigation ul > li:nth-of-type(4) {
  -ms-grid-column: 4;
}

.site-menu-container {
  -ms-grid-row: 3;
      grid-row: 3;
  -ms-grid-column-span: 2;
  -ms-grid-column: 2;
      grid-column: 2 / span 2;
  justify-self: end;
  -ms-grid-row-align: center;
      align-self: center;
  position: relative;
}
@media screen and (max-width: 1246px) {
  .site-menu-container {
    width: 100%;
  }
}

.site-header-menu {
  display: block;
}
@media screen and (max-width: 1246px) {
  .site-header-menu {
    display: none;
    position: absolute;
    z-index: 5;
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .site-header-menu {
    position: relative;
  }
}

.site-header-menu.toggled-on,
.no-js .site-header-menu {
  display: block;
}

.main-navigation ul li {
  position: relative;
}
.main-navigation .primary-menu > li {
  display: inline-block;
  width: auto;
  margin-bottom: 0;
  padding: 0;
}
@media screen and (max-width: 1246px) {
  .main-navigation .primary-menu > li {
    width: 100%;
    line-height: 48px;
  }
}
.main-navigation .primary-menu > li a {
  line-height: 1em;
  padding: 10px;
  display: block;
}
@media screen and (max-width: 1246px) {
  .main-navigation .primary-menu > li a {
    line-height: 48px;
    padding: 0 10px;
  }
}
.main-navigation .sub-menu {
  display: block;
  left: -999em;
  position: absolute;
  z-index: 6;
}
@media screen and (max-width: 1246px) {
  .main-navigation .sub-menu {
    display: none;
    position: relative;
    left: 0;
  }
}
.main-navigation .sub-menu.toggled-on {
  display: block;
}
.main-navigation .sub-menu ul {
  top: 0;
}
.main-navigation .sub-menu ul:before,
.main-navigation .sub-menu ul:after {
  border: 0;
}
.main-navigation .sub-menu li {
  margin-bottom: 0;
}
.main-navigation .sub-menu li a {
  white-space: normal;
  display: block;
  width: 330px;
  padding: 10px;
}
@media screen and (max-width: 1246px) {
  .main-navigation .sub-menu li a {
    width: 100%;
    padding: 0 1.5em;
    height: 48px;
    line-height: 48px;
  }
}
.main-navigation .sub-menu:before,
.main-navigation .sub-menu:after {
  position: absolute;
}
.main-navigation li:hover > ul,
.main-navigation li.focus > ul {
  left: 0;
  right: auto;
}
.main-navigation .sub-menu li:hover > ul,
.main-navigation .sub-menu li.focus > ul {
  left: auto;
  right: 100%;
}
.main-navigation .sub-menu li:hover ul,
.main-navigation .sub-menu li.focus ul {
  left: 100%;
  right: auto;
}

.dropdown-toggle,
.main-navigation ul .dropdown-toggle.toggled-on {
  display: none;
}
@media screen and (max-width: 1246px) {
  .dropdown-toggle,
  .main-navigation ul .dropdown-toggle.toggled-on {
    position: absolute;
    right: 0;
    top: 0;
    height: 48px;
    width: 48px;
    z-index: 100;
    display: inline-block;
  }
}

.menu-toggle {
  display: none;
  clear: both;
  width: 100%;
  padding: 20px;
}
.menu-toggle:after {
  display: inline-block;
  height: 24px;
  width: 24px;
  vertical-align: text-bottom;
  margin-left: 10px;
}
@media screen and (max-width: 1246px) {
  .menu-toggle {
    display: block;
    text-align: right;
  }
}
@media screen and (max-width: 800px) {
  .menu-toggle {
    text-align: center;
  }
}

.footer-bottom .widget_nav_menu ul {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-bottom .widget_nav_menu ul li {
  width: 31.03448%;
}
@media screen and (max-width: 800px) {
  .footer-bottom .widget_nav_menu ul li {
    width: 50%;
  }
}
@media screen and (max-width: 660px) {
  .footer-bottom .widget_nav_menu ul li {
    width: 100%;
    text-align: center;
  }
}
.footer-bottom .widget_nav_menu ul .sub-menu {
  display: block;
}
.footer-bottom .widget_nav_menu ul .sub-menu li {
  width: 100%;
}

.social-links-menu {
  float: right;
  text-align: right;
}
.social-links-menu li {
  display: inline-block;
  margin-bottom: 0;
}
.social-links-menu li a {
  height: 36px;
  width: 36px;
  display: block;
  margin: 10px;
}
@media screen and (max-width: 800px) {
  .social-links-menu {
    float: none;
    margin: 0;
    width: 100%;
    text-align: center;
  }
}

/* layout - main */
.site-main {
  -ms-grid-row: 2;
      grid-row: 2;
  -ms-grid-column-span: 2;
  -ms-grid-column: 1;
      grid-column: 1 / span 2;
  padding: 40px;
}
@media screen and (max-width: 1246px) {
  .site-main {
    -ms-grid-column-span: 1;
    -ms-grid-column: 1;
        grid-column: 1 / span 1;
    padding: 20px;
  }
}

.site-main.no-side, .events-archive .site-main {
  -ms-grid-row-span: 1;
  -ms-grid-row: 2;
      grid-row: 2 / span 1;
  -ms-grid-column-span: 3;
  -ms-grid-column: 1;
      grid-column: 1 / span 3;
  padding: 40px;
}
@media screen and (max-width: 1246px) {
  .site-main.no-side, .events-archive .site-main {
    -ms-grid-column-span: 2;
    -ms-grid-column: 1;
        grid-column: 1 / span 2;
  }
}
@media screen and (max-width: 660px) {
  .site-main.no-side, .events-archive .site-main {
    padding: 20px;
  }
}

article p {
  margin-bottom: 20px;
}
article blockquote {
  padding: 20px 6.77966% 0;
  margin-bottom: 40px;
}
article ul, article ol, article dl {
  margin-bottom: 20px;
}
article ul li, article ol li, article dl li {
  padding-bottom: 10px;
}
article table {
  margin-bottom: 20px;
}
article table th {
  padding: 5px;
}
article table td {
  padding: 5px;
}

/* layout - hero */
.hero-area {
  position: relative;
  max-width: 1490px;
  width: 100%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  justify-content: center;
}

.hero,
.sub-hero,
.flexslider {
  -ms-grid-row: 1;
      grid-row: 1;
  -ms-grid-column-span: 1;
  -ms-grid-column: 1;
      grid-column: 1 / span 1;
  min-height: 65vh;
  max-height: 700px;
}
@media screen and (max-width: 800px) {
  .hero,
  .sub-hero,
  .flexslider {
    min-height: 40vh;
  }
}

.hero.has-slideshow {
  padding: 0;
}

.main-cta-text,
.flex-caption,
.sub-quote {
  -ms-grid-row: 1;
      grid-row: 1;
  -ms-grid-column-span: 1;
  -ms-grid-column: 1;
      grid-column: 1 / span 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: center;
  height: 100%;
  padding: 60px 20px;
}
@media screen and (max-width: 1246px) {
  .main-cta-text,
  .flex-caption,
  .sub-quote {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 800px) {
  .main-cta-text,
  .flex-caption,
  .sub-quote {
    padding: 20px;
    width: 100%;
    text-align: center;
  }
}

.hero-video {
  padding: 20px 0;
  position: relative;
  min-height: 0;
}
.hero-video .wrapper, .hero-video .flex-wrapper {
  text-align: center;
  position: relative !important;
}
.hero-video .embed-outer {
  width: 100%;
  max-width: 60%;
  position: relative;
  margin: 20px auto;
}
@media screen and (max-width: 1246px) {
  .hero-video .embed-outer {
    max-width: 100%;
  }
}
.hero-video .embed-outer .embed-wrapper {
  position: relative;
  padding-bottom: 56.23%;
  /* Use 75% for 4:3 videos */
  height: auto;
  overflow: hidden;
  max-width: 100%;
  background: #000;
}
.hero-video .embed-outer .embed-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: transparent;
}
.hero-video .embed-outer .video-player img {
  bottom: 0;
  display: block;
  left: 0;
  margin: auto;
  max-width: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  height: auto;
  cursor: pointer;
  transition: .4s all;
}
.hero-video .embed-outer .video-player img:hover {
  -webkit-filter: brightness(75%);
}
.hero-video .embed-outer .video-player .play {
  height: 72px;
  width: 72px;
  left: 50%;
  top: 50%;
  margin-left: -36px;
  margin-top: -36px;
  position: absolute;
  background: url("//i.imgur.com/TxzC70f.png") no-repeat;
  cursor: pointer;
}

.sub-hero {
  min-height: 40vh;
  max-height: 500px;
}

.sub-quote {
  min-height: 300px;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 800px) {
  .sub-quote {
    min-height: 0;
  }
}

/* layout - home */
.content,
.content-home {
  clear: both;
  position: relative;
  z-index: 1;
}

.banner-quote .flex-wrapper {
  padding: 0;
}
@media screen and (max-width: 800px) {
  .banner-quote .flex-wrapper {
    flex-direction: column;
  }
}

#sub-content {
  -ms-grid-row: 4;
      grid-row: 4;
  -ms-grid-column-span: 2;
  -ms-grid-column: 1;
      grid-column: 1 / span 2;
  padding: 40px;
}
@media screen and (max-width: 800px) {
  #sub-content {
    padding: 20px;
  }
}

.more-link, .tribe-events-widget-link a {
  display: block;
}

/* layout - cta banner */
#locations {
  -ms-grid-row: 3;
      grid-row: 3;
  -ms-grid-column-span: 3;
  -ms-grid-column: 1;
      grid-column: 1 / span 3;
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  justify-content: space-between;
}
#locations .section-title {
  width: 100%;
}
#locations .col {
  width: 50%;
}
@media screen and (max-width: 660px) {
  #locations .col img.alignleft,
  #locations .col img.alignright {
    float: none;
    margin: 0 0 20px 0;
    display: block;
  }
}
@media screen and (max-width: 660px) {
  #locations .col {
    width: 100%;
  }
}
@media screen and (max-width: 1246px) {
  #locations {
    padding: 20px;
    -ms-grid-column-span: 2;
    -ms-grid-column: 1;
        grid-column: 1 / span 2;
  }
}

/* layout - subpages */
/* layout - flex content */
.accordion-list {
  list-style-type: none;
}

/* layout - sidebars */
.sidebar {
  -ms-grid-column-span: 1;
  -ms-grid-column: 3;
      grid-column: 3 / span 1;
  -ms-grid-row: 2;
      grid-row: 2;
  padding: 20px;
}
@media screen and (max-width: 1246px) {
  .sidebar {
    -ms-grid-column-span: 1;
    -ms-grid-column: 2;
        grid-column: 2 / span 1;
  }
}

.home-upper {
  -ms-grid-row: 2;
      grid-row: 2;
}

.home-lower {
  -ms-grid-row: 4;
      grid-row: 4;
}

.widget {
  margin-bottom: 40px;
}
.widget:last-of-type {
  margin-bottom: 0;
}
@media screen and (max-width: 800px) {
  .widget {
    margin-bottom: 20px;
  }
}

.featured-image {
  text-align: center;
  margin-bottom: 20px;
}
.featured-image .sidebar-circle {
  border-radius: 50%;
  max-width: 315px;
}

.sidebar .cta-btn {
  display: block;
}

.widget .gform_wrapper {
  margin: 0;
}

.widget ul li a,
.widget ol li a {
  padding-bottom: 5px;
  display: block;
}
.widget ul .children,
.widget ol .children {
  padding-left: 20px;
  padding-top: 10px;
}

.widget_sp_image {
  text-align: center;
}

/* layout - blog */
.post-list,
.widget_recent_entries ul,
.advanced-posts-widget ul {
  list-style-type: none;
}
.post-list li,
.widget_recent_entries ul li,
.advanced-posts-widget ul li {
  padding: 20px 0 0 0;
  clear: both;
  margin-bottom: 0;
}
.post-list .more-link, .post-list .tribe-events-widget-link a, .tribe-events-widget-link .post-list a,
.widget_recent_entries ul .more-link,
.widget_recent_entries ul .tribe-events-widget-link a,
.tribe-events-widget-link .widget_recent_entries ul a,
.advanced-posts-widget ul .more-link,
.advanced-posts-widget ul .tribe-events-widget-link a,
.tribe-events-widget-link .advanced-posts-widget ul a {
  margin-top: 20px;
}

.post-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.post-list .post-item {
  padding: 20px 10px;
  width: 50%;
}
.post-list .post-item:nth-child(even) {
  padding-right: 0;
}
.post-list .post-item:nth-child(odd) {
  padding-left: 0;
}
.post-list .post-item:nth-child(1), .post-list .post-item:nth-child(2) {
  padding-top: 0;
}
.post-list .post-item:nth-last-child(1), .post-list .post-item:nth-last-child(2) {
  padding-bottom: 0;
}
@media screen and (max-width: 660px) {
  .post-list .post-item {
    width: 100%;
    padding: 20px 0 !important;
  }
}

@supports ((display: -ms-grid) or (display: grid)) {
  .post-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .post-list .post-item {
    padding: 20px 10px;
    width: 100%;
  }
  .post-list .post-item:nth-child(even) {
    padding-right: 0;
  }
  .post-list .post-item:nth-child(odd) {
    padding-left: 0;
  }
  .post-list .post-item:nth-child(1), .post-list .post-item:nth-child(2) {
    padding-top: 0;
  }
  .post-list .post-item:nth-last-child(1), .post-list .post-item:nth-last-child(2) {
    padding-bottom: 0;
  }
  .post-list > li:nth-of-type(1) {
    -ms-grid-column: 1;
  }
  .post-list > li:nth-of-type(2) {
    -ms-grid-column: 2;
  }
  .post-list > li:nth-of-type(3) {
    -ms-grid-column: 3;
  }
  @media screen and (max-width: 660px) {
    .post-list {
      display: block;
    }
    .post-list .post-item {
      padding: 20px 0 !important;
    }
  }
}
.comments {
  margin-top: 40px;
  padding: 20px;
}
.comments ul {
  list-style-type: none;
  margin-bottom: 40px;
}
.comments ul li {
  margin-bottom: 20px;
}

/* layout - footer */
.footer {
  -ms-grid-row: 5;
      grid-row: 5;
  -ms-grid-column-span: 3;
  -ms-grid-column: 1;
      grid-column: 1 / span 3;
}
.footer .widget {
  margin-bottom: 20px;
}
@media screen and (max-width: 1246px) {
  .footer {
    -ms-grid-column-span: 2;
    -ms-grid-column: 1;
        grid-column: 1 / span 2;
  }
}

.footer-top {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

@supports ((display: -ms-grid) or (display: grid)) {
  .footer-top {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  @media screen and (max-width: 1246px) {
    .footer-top {
      -ms-grid-columns: 1fr 1fr;
          grid-template-columns: 1fr 1fr;
    }
  }
  @media screen and (max-width: 660px) {
    .footer-top {
      display: block;
    }
  }
}
.footer-left {
  width: 66.666%;
  padding: 40px;
}
@media screen and (max-width: 800px) {
  .footer-left {
    width: 100%;
    margin: 0 0 20px 0;
    padding: 0 20px;
  }
}

@supports ((display: -ms-grid) or (display: grid)) {
  .footer-left {
    -ms-grid-column-span: 2;
    -ms-grid-column: 1;
        grid-column: 1 / span 2;
    width: 100%;
  }
  @media screen and (max-width: 1246px) {
    .footer-left {
      -ms-grid-column-span: 1;
      -ms-grid-column: 1;
          grid-column: 1 / span 1;
    }
  }
  @media screen and (max-width: 660px) {
    .footer-left {
      display: block;
    }
  }
}
.footer-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.footer-menu > li {
  width: 25%;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.footer-menu > li:nth-of-type(3n +1) {
  margin-left: 0;
}
.footer-menu > li:nth-of-type(3n +3) {
  margin-right: 0;
}
.footer-menu > li a {
  margin-bottom: 10px;
  display: block;
}
@media screen and (max-width: 660px) {
  .footer-menu > li {
    width: 100%;
    margin: 20px 0 !important;
  }
}

@supports ((display: -ms-grid) or (display: grid)) {
  .footer-menu {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    align-items: start;
  }
  .footer-menu > li {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .footer-menu > li:nth-of-type(3n +1) {
    margin-left: 0;
  }
  .footer-menu > li:nth-of-type(3n +3) {
    margin-right: 0;
  }
  .footer-menu > li a {
    margin-bottom: 10px;
    display: block;
  }
  .footer-menu > li:nth-of-type(1) {
    -ms-grid-column: 1;
  }
  .footer-menu > li:nth-of-type(2) {
    -ms-grid-column: 2;
  }
  .footer-menu > li:nth-of-type(3) {
    -ms-grid-column: 3;
  }
  .footer-menu > li:nth-of-type(4) {
    -ms-grid-column: 4;
  }
  @media screen and (max-width: 660px) {
    .footer-menu {
      display: block;
    }
    .footer-menu > li {
      margin: 0 0 20px 0 !important;
    }
  }
}
.footer-side {
  width: 33.333%;
  justify-self: flex-end;
  margin-left: auto;
}
@media screen and (max-width: 800px) {
  .footer-side {
    width: 100%;
    margin: 0 0 20px 0;
  }
}

@supports ((display: -ms-grid) or (display: grid)) {
  .footer-side {
    width: 100%;
    justify-self: stretch;
    -ms-grid-column-span: 1;
    -ms-grid-column: 3;
        grid-column: 3 / span 1;
    -ms-grid-row: 1;
        grid-row: 1;
  }
  @media screen and (max-width: 1246px) {
    .footer-side {
      -ms-grid-column-span: 1;
      -ms-grid-column: 2;
          grid-column: 2 / span 1;
    }
  }
  @media screen and (max-width: 660px) {
    .footer-side {
      display: block;
      margin: 0;
      padding: 0 20px;
    }
  }
}
.accreditations {
  padding: 20px;
}

.accred-list {
  clear: both;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.accred-list .accred-item {
  margin-bottom: 0;
}
.accred-list .accred-item img {
  max-width: 320px;
  height: auto;
}
@media screen and (max-width: 1246px) {
  .accred-list .accred-item img {
    max-width: 100%;
  }
}
@media screen and (max-width: 660px) {
  .accred-list {
    flex-wrap: wrap;
  }
  .accred-list .accred-item {
    width: 50%;
    text-align: center;
  }
}

.footer-bottom {
  padding: 20px 0;
  display: flex;
  align-items: flex-start;
}
.footer-bottom p {
  margin: 0;
}
@media screen and (max-width: 1246px) {
  .footer-bottom {
    padding: 20px;
  }
}
@media screen and (max-width: 660px) {
  .footer-bottom {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 660px) {
  .footer-bottom-left {
    width: 100%;
  }
}

.footer-bottom-right {
  justify-self: flex-end;
  margin-left: auto;
}
@media screen and (max-width: 660px) {
  .footer-bottom-right {
    width: 100%;
    justify-self: center;
  }
}

.contact-info {
  display: flex;
}
.contact-info .facility {
  margin-right: 20px;
}
.contact-info .facility:last-of-type {
  margin-right: 0;
}
@media screen and (max-width: 660px) {
  .contact-info .facility {
    width: 50%;
    margin-bottom: 20px;
  }
}
.contact-info .contact-item {
  display: block;
  margin-bottom: 0.35em;
}
@media screen and (max-width: 660px) {
  .contact-info {
    flex-wrap: wrap;
    width: 100%;
    justify-self: center;
  }
}

/**
 * objects/typography
 * ---
 */
main {
  font-size: 16px;
  font-size: 1.6rem;
}
main a {
  color: #4d267a;
  font-weight: bold;
}
main a:hover {
  color: #05a79c;
}
main table {
  font-size: 16px;
  font-size: 1.6rem;
}
main table th {
  font-weight: 700;
  font-size: 16px;
  font-size: 1.6rem;
  text-transform: uppercase;
}

a {
  color: #4d267a;
  font-weight: bold;
}
a:hover {
  color: #05a79c;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  line-height: 1em;
}

h1, h2, h3 {
  margin-bottom: 1.2em;
}

h4, h5, h6 {
  margin-bottom: 1em;
}

h1, h1 a {
  font-size: 36px;
  font-size: 3.6rem;
  color: #4d267a;
}
@media screen and (max-width: 800px) {
  h1, h1 a {
    font-size: 30px;
    font-size: 3rem;
  }
}

h2, h2 a {
  font-size: 30px;
  font-size: 3rem;
  color: #05a79c;
}
@media screen and (max-width: 800px) {
  h2, h2 a {
    font-size: 24px;
    font-size: 2.4rem;
  }
}

h3, h3 a {
  font-size: 24px;
  font-size: 2.4rem;
  color: #f07755;
}
@media screen and (max-width: 800px) {
  h3, h3 a {
    font-size: 22px;
    font-size: 2.2rem;
  }
}

h4, h4 a {
  font-size: 20px;
  font-size: 2rem;
  color: #046af5;
}
@media screen and (max-width: 800px) {
  h4, h4 a {
    font-size: 18px;
    font-size: 1.8rem;
  }
}

h5, h5 a {
  font-size: 18px;
  font-size: 1.8rem;
  color: #4d267a;
  text-transform: uppercase;
}

h6, h6 a {
  font-size: 14px;
  font-size: 1.4rem;
  color: #05a79c;
  text-transform: uppercase;
}

p, ul, ol, blockquote {
  margin: 0 0 20px 0;
}

blockquote p:last-of-type {
  margin: 0;
}

li {
  margin-bottom: 0.5em;
}

form {
  font-weight: bold;
}

/* header */
.announcement {
  color: white;
  font-size: 14px;
  font-size: 1.4rem;
  text-align: center;
}
.announcement a {
  color: white;
  text-decoration: underline;
}

.top-bar .menu {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1em;
}

.site-title {
  margin: 0;
  font-size: 36px;
  font-size: 3.6rem;
  color: #05a79c;
}
.site-title a {
  text-decoration: none;
}
.site-title a:hover, .site-title a:active {
  text-decoration: none;
}

.header-tagline {
  margin: 10px 0 0 0;
  color: #05a79c;
  font-size: 24px;
  font-size: 2.4rem;
}

.top-navigation {
  text-align: center;
}
.top-navigation a {
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1em;
}
.top-navigation a:hover {
  text-decoration: none;
}

.main-navigation {
  font-size: 17px;
  font-size: 1.7rem;
}
.main-navigation a {
  font-weight: normal;
}

.menu-toggle {
  font-size: 18px;
  font-size: 1.8rem;
  color: #4d267a;
}

blockquote {
  font-size: 20px;
  font-size: 2rem;
  color: #046af5;
  text-align: left;
  font-weight: 300;
  line-height: 1.1;
  position: relative;
  padding: 20px;
}

cite {
  font-size: 16px;
  font-size: 1.6rem;
  color: #046af5;
  text-transform: uppercase;
  display: block;
  font-weight: 700;
  font-style: normal;
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #046af5;
}

.cta-banner,
.banner-quote,
.sub-quote {
  color: white;
}
.cta-banner h1, .cta-banner h2, .cta-banner h3, .cta-banner h4, .cta-banner h5, .cta-banner h6, .cta-banner blockquote, .cta-banner cite,
.banner-quote h1,
.banner-quote h2,
.banner-quote h3,
.banner-quote h4,
.banner-quote h5,
.banner-quote h6,
.banner-quote blockquote,
.banner-quote cite,
.sub-quote h1,
.sub-quote h2,
.sub-quote h3,
.sub-quote h4,
.sub-quote h5,
.sub-quote h6,
.sub-quote blockquote,
.sub-quote cite {
  color: white;
}
.cta-banner cite,
.banner-quote cite,
.sub-quote cite {
  border-color: white;
}
.cta-banner blockquote:before,
.banner-quote blockquote:before,
.sub-quote blockquote:before {
  color: white;
}

.sub-quote blockquote {
  text-align: center;
  font-size: 24px;
  font-size: 2.4rem;
}
.sub-quote cite {
  text-align: center;
  display: block;
}

/* home */
.main-cta-text,
.flex-caption,
.video-caption {
  color: white;
  text-align: right;
}
.main-cta-text h1, .main-cta-text h2, .main-cta-text h3, .main-cta-text h4, .main-cta-text h5, .main-cta-text h6, .main-cta-text blockquote, .main-cta-text cite, .main-cta-text li, .main-cta-text a,
.flex-caption h1,
.flex-caption h2,
.flex-caption h3,
.flex-caption h4,
.flex-caption h5,
.flex-caption h6,
.flex-caption blockquote,
.flex-caption cite,
.flex-caption li,
.flex-caption a,
.video-caption h1,
.video-caption h2,
.video-caption h3,
.video-caption h4,
.video-caption h5,
.video-caption h6,
.video-caption blockquote,
.video-caption cite,
.video-caption li,
.video-caption a {
  color: white;
}
@media screen and (max-width: 1246px) {
  .main-cta-text,
  .flex-caption,
  .video-caption {
    text-align: left;
  }
}

.column-title {
  color: white;
  margin: 0;
}

.more-link, .tribe-events-widget-link a {
  text-transform: uppercase;
  font-weight: 700;
  color: #f07755;
}
.more-link:hover, .tribe-events-widget-link a:hover {
  text-decoration: none;
  color: #4d267a;
}

.quote-content blockquote:before {
  content: '';
}

#locations {
  color: white !important;
}
#locations .section-title, #locations h2, #locations h3, #locations h4, #locations h5, #locations h6 {
  color: white;
}
#locations h3 {
  font-size: 18px;
  font-size: 1.8rem;
}
#locations a {
  color: white;
}
#locations a:hover, #locations a:active {
  color: #4d267a;
}

#sub-content .section-title {
  color: #4d267a;
}
#sub-content .post-title a {
  color: #05a79c;
}
#sub-content .post-title a:hover, #sub-content .post-title a:active {
  color: #f07755;
}

/* subpages */
/* flex content */
.accordion-title {
  padding: 10px;
  color: white;
  font-size: 24px;
  font-size: 2.4rem;
  margin-bottom: 20px;
}
.accordion-title a {
  color: white;
  text-decoration: none;
}

/* blog */
.post-list .post-title,
.post-list h3,
.widget_recent_entries ul .post-title,
.widget_recent_entries ul h3,
.recent-posts-extended ul .post-title,
.recent-posts-extended ul h3 {
  font-size: 20px;
  font-size: 2rem;
  margin-bottom: 10px;
}
.post-list time,
.widget_recent_entries ul time,
.recent-posts-extended ul time {
  font-size: 12px;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.comment-author .fn {
  font-style: normal;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: 700;
}

.comment-meta {
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: 700;
}

.post-meta {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 700;
  color: #1e686b;
  margin-bottom: 10px;
}

/* sidebar */
.sidebar .widgettitle {
  border-bottom: 2px solid white;
  padding-bottom: 5px;
  font-size: 24px;
  font-size: 2.4rem;
  color: white;
}
.sidebar .widgettitle a {
  color: white;
}
.sidebar .widgettitle a:hover, .sidebar .widgettitle a:active {
  color: #feca6e;
}

.widget_categories ul li a,
.widget_archive ul li a {
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: normal;
}
.widget_categories ul li a:hover,
.widget_archive ul li a:hover {
  color: #f07755;
  text-decoration: none;
  font-weight: 700;
}

.side-nav ul li a,
.sidebar .widget_categories ul li a,
.sidebar .widget_archive ul li a {
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: normal;
  color: white;
}
.side-nav ul li a:hover,
.sidebar .widget_categories ul li a:hover,
.sidebar .widget_archive ul li a:hover {
  color: #f07755;
  text-decoration: none;
  font-weight: 700;
}

.side-menu a {
  color: white;
}
.side-menu a:hover, .side-menu a:active {
  text-decoration: none;
}

/* footer */
footer .widgettitle {
  color: white;
  border-color: white;
}

.footer-navigation ul a {
  color: white;
}
.footer-navigation ul li {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 700;
}
.footer-navigation ul .sub-menu li a {
  font-weight: normal;
  font-size: 14px;
  font-size: 1.4rem;
}

.contact-info {
  color: white;
  font-size: 14px;
  font-size: 1.4rem;
}
.contact-info .contact-title {
  font-size: 16px;
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-bottom: 0.5em;
  color: white;
}
.contact-info a {
  color: white;
  text-decoration: none;
}
.contact-info a:hover, .contact-info a:active {
  text-decoration: underline;
}

.copyright {
  font-size: 12px;
  font-size: 1.2rem;
  text-align: right;
  color: white;
}
.copyright a {
  color: white;
}
@media screen and (max-width: 1246px) {
  .copyright {
    text-align: center;
  }
}

/* overall styles */
.teal {
  color: #05a79c;
}

.orange {
  color: #f07755;
}

.blue {
  color: #046af5;
}

.purple {
  color: #4d267a;
}

.yellow {
  color: #feca6e;
}

/**
 * utilities/wordpress
 * ---
 * Wordpess core classes
 */
/**
 * Alignment
 */
.alignnone {
  margin-bottom: 20px;
  display: inline-block;
  width: auto;
}

.aligncenter {
  margin: 20px auto;
}

.alignright {
  float: right;
  margin: 0 0 20px 20px;
}
@media screen and (max-width: 800px) {
  .alignright {
    float: none;
    margin: 0 0 20px 0;
  }
}

.alignleft {
  float: left;
  margin: 0 20px 20px 0;
}
@media screen and (max-width: 800px) {
  .alignleft {
    float: none;
    margin: 0 0 20px 0;
  }
}

/**
 * Gallery & images
 */
.gallery {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 20px;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-row-gap: 20px;
  grid-auto-flow: dense;
}

.gallery-item {
  text-align: center;
  margin: 0;
}
.gallery-item img {
  border: none;
  width: 100%;
  max-width: 100%;
}

.gallery-columns-2 {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.gallery-columns-3 {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width: 800px) {
  .gallery-columns-3 {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.gallery-columns-4 {
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}
@media screen and (max-width: 800px) {
  .gallery-columns-4 {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.gallery-columns-5 {
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}
@media screen and (max-width: 800px) {
  .gallery-columns-5 {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.gallery-caption {
  background: #046af5;
  color: white;
  border: none;
  max-width: 100%;
  padding: 8px;
  text-align: center;
}
.gallery-caption img {
  width: auto;
  max-width: 98.5%;
  height: auto;
  border: 0 none;
}

.wp-caption-text,
.gallery-caption {
  margin: 0;
  color: #252525;
  padding: 5px 0;
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 1.4;
  max-width: 100%;
}

.wp-post-image {
  margin: 20px 0;
}

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}

/**
 * objects/buttons
 * ---
 */
.btn-teal {
  background-color: #05a79c;
}
.btn-teal:hover {
  background-color: #959595 !important;
  color: white !important;
}

.btn-orange {
  background-color: #f07755;
}
.btn-orange:hover {
  background-color: #959595 !important;
  color: white !important;
}

.btn-blue {
  background-color: #046af5;
}
.btn-blue:hover {
  background-color: #959595 !important;
  color: white !important;
}

.btn-purple {
  background-color: #4d267a;
}
.btn-purple:hover {
  background-color: #959595 !important;
  color: white !important;
}

.btn-yellow {
  background-color: #feca6e;
}
.btn-yellow:hover {
  background-color: #959595 !important;
  color: white !important;
}

.btn-main-cta, .slide-link {
  background-color: #f07755;
}
.btn-main-cta:hover, .slide-link:hover {
  background-color: #959595 !important;
  color: white !important;
}
.btn-main-cta:after, .slide-link:after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 20 20'%3E%3Cpath d='M13.25,10L6.109,2.58c-0.268-0.27-0.268-0.707,0-0.979c0.268-0.27,0.701-0.27,0.969,0l7.83,7.908 c0.268,0.271,0.268,0.709,0,0.979l-7.83,7.908c-0.268,0.271-0.701,0.27-0.969,0c-0.268-0.269-0.268-0.707,0-0.979L13.25,10z'/%3E%3C/svg%3E");
  content: '';
  display: inline-block;
  height: 15px;
  width: 15px;
  margin-left: 3px;
  margin-top: 2px;
}
@media screen and (max-width: 800px) {
  .btn-main-cta, .slide-link {
    margin: 0;
  }
}

/**
 * objects/forms/forms
 * ---
 */
form input, form textarea, form select {
  border: 1px solid #046af5;
  padding: 0.25em;
  margin: 0.15em 0;
  display: block;
  line-height: normal;
  font-weight: normal;
  width: 100%;
  max-width: 100%;
}
form input:focus, form textarea:focus, form select:focus {
  border: 1px solid #f07755 !important;
  outline: 0;
  box-shadow: none;
}
form textarea {
  height: 75px;
}
form input[type="radio"], form input[type="checkbox"] {
  display: inline-block;
  width: auto;
}
form button, form html input[type="button"], form input[type="reset"], form input[type="submit"] {
  background-color: #f07755;
  outline: 0;
  max-width: 320px;
  font-weight: 700;
  display: block;
}
form button:hover, form html input[type="button"]:hover, form input[type="reset"]:hover, form input[type="submit"]:hover {
  background-color: #959595 !important;
  color: white !important;
}
form .req {
  color: red;
}

.gform_confirmation_wrapper {
  border: 2px solid white;
  padding: 10px;
  font-weight: bold;
}

.widget .gform_body input,
.widget .gform_body select,
.widget .gform_body textarea {
  background: rgba(255, 255, 255, 0.25);
  color: white !important;
}

/**
 * objects/content
 * ---
 */
table {
  border: none;
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
}
table th {
  background: #046af5;
  color: white;
  text-align: left;
}
table tr:nth-child(even) {
  background: #95c1fd;
}

/**
 * objects/site
 * ---
 */
body {
  border-top: 10px solid #046af5;
  background: url(../img/bkg.png) no-repeat bottom center;
}

.hero {
  background-size: cover;
  background-position: center center;
  border-bottom: 10px solid #feca6e;
}

.hero-default {
  background: url(../img/default.jpg) no-repeat center center;
  background-size: cover;
}

.no-js .hero {
  background: url(../img/default.jpg) no-repeat center center;
  background-size: cover;
}

.sub-hero {
  background-size: cover;
  background-position: center center;
  border-bottom: 10px solid #feca6e;
}

.no-js .sub-hero {
  background: url(../img/default.jpg) no-repeat center center;
  background-size: cover;
}

.sub-quote {
  background: rgba(77, 38, 122, 0.9);
}

main {
  background: white;
}

.accordion-title {
  background: #05a79c;
}
.accordion-title:before {
  content: '';
  vertical-align: middle;
  display: inline-block;
  height: 30px;
  width: 30px;
  margin-right: 20px;
  cursor: pointer;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 20 20'%3E%3Cpath d='M10,1.6c-4.639,0-8.4,3.761-8.4,8.4c0,4.639,3.761,8.4,8.4,8.4s8.4-3.761,8.4-8.4C18.4,5.361,14.639,1.6,10,1.6z M15,11h-4 v4H9v-4H5V9h4V5h2v4h4V11z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.accordion-title.active:before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 20 20'%3E%3Cpath d='M10,1.6c-4.639,0-8.4,3.761-8.4,8.4c0,4.639,3.761,8.4,8.4,8.4s8.4-3.761,8.4-8.4C18.4,5.361,14.639,1.6,10,1.6z M15,11H5V9 h10V11z'/%3E%3C/svg%3E");
}

/**
 * objects/header
 * ---
 */
.announcement {
  background: #f07755;
  color: white;
}

.top-bar {
  color: white;
}
.top-bar a {
  color: white;
}

/**
 * objects/nav
 * ---
 * Menus
 */
/* main menu */
@media screen and (max-width: 800px) {
  .site-menu-container {
    border-top: 5px solid #4d267a;
  }
}

@media screen and (max-width: 1246px) {
  .site-header-menu {
    background: #05a79c;
  }
}

@media screen and (max-width: 1246px) {
  .main-navigation ul li {
    border-top: 1px solid white;
  }
}
.main-navigation a {
  color: #4d267a;
}
.main-navigation a:hover {
  text-decoration: none;
  color: white;
  background: #05a79c;
}
@media screen and (max-width: 1246px) {
  .main-navigation a {
    color: white;
  }
  .main-navigation a:hover {
    background: #046af5;
  }
}
.main-navigation .menu-item-has-children > a:after {
  content: '';
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%234d267a' viewBox='0 0 20 20'%3E%3Cpath d='M17.418,6.109c0.272-0.268,0.709-0.268,0.979,0c0.27,0.268,0.271,0.701,0,0.969l-7.908,7.83 c-0.27,0.268-0.707,0.268-0.979,0l-7.908-7.83c-0.27-0.268-0.27-0.701,0-0.969c0.271-0.268,0.709-0.268,0.979,0L10,13.25 L17.418,6.109z'/%3E%3C/svg%3E");
  height: 15px;
  width: 15px;
  margin-left: 3px;
  margin-top: 2px;
}
@media screen and (max-width: 1246px) {
  .main-navigation .menu-item-has-children > a:after {
    background-image: none;
  }
}
.main-navigation .menu-item-has-children > a:hover:after, .main-navigation .menu-item-has-children > a:active:after, .main-navigation .menu-item-has-children > a:focus:after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 20 20'%3E%3Cpath d='M17.418,6.109c0.272-0.268,0.709-0.268,0.979,0c0.27,0.268,0.271,0.701,0,0.969l-7.908,7.83 c-0.27,0.268-0.707,0.268-0.979,0l-7.908-7.83c-0.27-0.268-0.27-0.701,0-0.969c0.271-0.268,0.709-0.268,0.979,0L10,13.25 L17.418,6.109z'/%3E%3C/svg%3E");
}
@media screen and (max-width: 1246px) {
  .main-navigation .menu-item-has-children > a:hover:after, .main-navigation .menu-item-has-children > a:active:after, .main-navigation .menu-item-has-children > a:focus:after {
    background-image: none;
  }
}
.main-navigation .current-menu-item > a,
.main-navigation .current_page_item > a,
.main-navigation .current_page_ancestor > a {
  color: #046af5;
}
.main-navigation .current-menu-item > a:hover,
.main-navigation .current_page_item > a:hover,
.main-navigation .current_page_ancestor > a:hover {
  background: #05a79c;
}
.main-navigation .current-menu-item > a:after,
.main-navigation .current_page_item > a:after,
.main-navigation .current_page_ancestor > a:after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23046af5' viewBox='0 0 20 20'%3E%3Cpath d='M17.418,6.109c0.272-0.268,0.709-0.268,0.979,0c0.27,0.268,0.271,0.701,0,0.969l-7.908,7.83 c-0.27,0.268-0.707,0.268-0.979,0l-7.908-7.83c-0.27-0.268-0.27-0.701,0-0.969c0.271-0.268,0.709-0.268,0.979,0L10,13.25 L17.418,6.109z'/%3E%3C/svg%3E");
}
@media screen and (max-width: 1246px) {
  .main-navigation .current-menu-item > a:after,
  .main-navigation .current_page_item > a:after,
  .main-navigation .current_page_ancestor > a:after {
    background-image: none;
  }
}
@media screen and (max-width: 1246px) {
  .main-navigation .current-menu-item > a,
  .main-navigation .current_page_item > a,
  .main-navigation .current_page_ancestor > a {
    color: white;
    background: #046af5;
  }
}
.main-navigation .menu-item-has-children[aria-haspopup="true"]:hover,
.main-navigation .menu-item-has-children[aria-haspopup="true"]:focus {
  background: #05a79c;
  color: white;
}
.main-navigation .menu-item-has-children[aria-haspopup="true"]:hover > a,
.main-navigation .menu-item-has-children[aria-haspopup="true"]:focus > a {
  color: white;
}
.main-navigation .menu-item-has-children[aria-haspopup="true"]:hover > a:after,
.main-navigation .menu-item-has-children[aria-haspopup="true"]:focus > a:after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 20 20'%3E%3Cpath d='M17.418,6.109c0.272-0.268,0.709-0.268,0.979,0c0.27,0.268,0.271,0.701,0,0.969l-7.908,7.83 c-0.27,0.268-0.707,0.268-0.979,0l-7.908-7.83c-0.27-0.268-0.27-0.701,0-0.969c0.271-0.268,0.709-0.268,0.979,0L10,13.25 L17.418,6.109z'/%3E%3C/svg%3E");
}
@media screen and (max-width: 1246px) {
  .main-navigation .menu-item-has-children[aria-haspopup="true"]:hover > a:after,
  .main-navigation .menu-item-has-children[aria-haspopup="true"]:focus > a:after {
    background-image: none;
  }
}
@media screen and (max-width: 1246px) {
  .main-navigation .menu-item-has-children[aria-haspopup="true"]:hover,
  .main-navigation .menu-item-has-children[aria-haspopup="true"]:focus {
    background: #f07755;
  }
}
.main-navigation .sub-menu {
  background: #05a79c;
}
.main-navigation .sub-menu a {
  color: white;
  white-space: normal;
}
.main-navigation .sub-menu a:hover {
  background: #f07755;
}
.main-navigation .sub-menu a:after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 20 20'%3E%3Cpath d='M13.25,10L6.109,2.58c-0.268-0.27-0.268-0.707,0-0.979c0.268-0.27,0.701-0.27,0.969,0l7.83,7.908 c0.268,0.271,0.268,0.709,0,0.979l-7.83,7.908c-0.268,0.271-0.701,0.27-0.969,0c-0.268-0.269-0.268-0.707,0-0.979L13.25,10z'/%3E%3C/svg%3E");
}
@media screen and (max-width: 1246px) {
  .main-navigation .sub-menu a:after {
    background-image: none;
  }
}
.main-navigation .sub-menu .menu-item-has-children[aria-haspopup="true"] a:hover,
.main-navigation .sub-menu .menu-item-has-children[aria-haspopup="true"] a:focus {
  background: #f07755;
}
.main-navigation .sub-menu .menu-item-has-children[aria-haspopup="true"] a:hover:after,
.main-navigation .sub-menu .menu-item-has-children[aria-haspopup="true"] a:focus:after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 20 20'%3E%3Cpath d='M13.25,10L6.109,2.58c-0.268-0.27-0.268-0.707,0-0.979c0.268-0.27,0.701-0.27,0.969,0l7.83,7.908 c0.268,0.271,0.268,0.709,0,0.979l-7.83,7.908c-0.268,0.271-0.701,0.27-0.969,0c-0.268-0.269-0.268-0.707,0-0.979L13.25,10z'/%3E%3C/svg%3E");
}
@media screen and (max-width: 1246px) {
  .main-navigation .sub-menu .menu-item-has-children[aria-haspopup="true"] a:hover:after,
  .main-navigation .sub-menu .menu-item-has-children[aria-haspopup="true"] a:focus:after {
    background-image: none;
  }
}
@media screen and (max-width: 1246px) {
  .main-navigation .sub-menu .menu-item-has-children[aria-haspopup="true"] a:hover,
  .main-navigation .sub-menu .menu-item-has-children[aria-haspopup="true"] a:focus {
    background: #4d267a;
  }
}
.main-navigation .sub-menu .current-menu-item > a,
.main-navigation .sub-menu .current_page_item > a,
.main-navigation .sub-menu .current_page_ancestor > a {
  color: white;
  background: #046af5;
}
.main-navigation .sub-menu .current-menu-item > a:hover,
.main-navigation .sub-menu .current_page_item > a:hover,
.main-navigation .sub-menu .current_page_ancestor > a:hover {
  background: #4d267a;
}
.main-navigation .sub-menu ul {
  background: #f07755;
}
.main-navigation .sub-menu ul a:hover {
  background: #4d267a;
}
.main-navigation .sub-menu ul .current-menu-item > a,
.main-navigation .sub-menu ul .current_page_item > a,
.main-navigation .sub-menu ul .current_page_ancestor > a {
  color: white;
  background: #046af5;
}
.main-navigation .sub-menu ul .current-menu-item > a:hover,
.main-navigation .sub-menu ul .current_page_item > a:hover,
.main-navigation .sub-menu ul .current_page_ancestor > a:hover {
  background: #4d267a;
}
.main-navigation .sub-menu ul .menu-item-has-children[aria-haspopup="true"] a:hover,
.main-navigation .sub-menu ul .menu-item-has-children[aria-haspopup="true"] a:focus {
  background: #4d267a;
}
.main-navigation .sub-menu ul:before,
.main-navigation .sub-menu ul:after {
  border: 0;
}
.main-navigation .sub-menu ul ul {
  background: #4d267a;
}
.main-navigation .sub-menu ul ul a:hover {
  background: #feca6e;
}
.main-navigation .sub-menu ul ul .current-menu-item > a,
.main-navigation .sub-menu ul ul .current_page_item > a,
.main-navigation .sub-menu ul ul .current_page_ancestor > a {
  background: #046af5;
}
.main-navigation .sub-menu ul ul .current-menu-item > a:hover,
.main-navigation .sub-menu ul ul .current_page_item > a:hover,
.main-navigation .sub-menu ul ul .current_page_ancestor > a:hover {
  color: #feca6e;
}
.main-navigation .sub-menu ul ul .menu-item-has-children[aria-haspopup="true"] a:hover,
.main-navigation .sub-menu ul ul .menu-item-has-children[aria-haspopup="true"] a:focus {
  background: #feca6e;
}

.menu-toggle {
  background: white;
  border: 0;
  outline: 0;
  cursor: pointer;
  color: #4d267a;
}
.menu-toggle:after {
  content: '';
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%234d267a' viewBox='0 0 20 20'%3E%3Cpath d='M16.4,9H3.6C3.048,9,3,9.447,3,10c0,0.553,0.048,1,0.6,1H16.4c0.552,0,0.6-0.447,0.6-1C17,9.447,16.952,9,16.4,9z M16.4,13 H3.6C3.048,13,3,13.447,3,14c0,0.553,0.048,1,0.6,1H16.4c0.552,0,0.6-0.447,0.6-1C17,13.447,16.952,13,16.4,13z M3.6,7H16.4 C16.952,7,17,6.553,17,6c0-0.553-0.048-1-0.6-1H3.6C3.048,5,3,5.447,3,6C3,6.553,3.048,7,3.6,7z'/%3E%3C/svg%3E");
}
.menu-toggle:hover, .menu-toggle.toggled-on {
  background: #05a79c;
  color: white;
}
.menu-toggle:hover:after, .menu-toggle.toggled-on:after {
  content: '';
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 20 20'%3E%3Cpath d='M16.4,9H3.6C3.048,9,3,9.447,3,10c0,0.553,0.048,1,0.6,1H16.4c0.552,0,0.6-0.447,0.6-1C17,9.447,16.952,9,16.4,9z M16.4,13 H3.6C3.048,13,3,13.447,3,14c0,0.553,0.048,1,0.6,1H16.4c0.552,0,0.6-0.447,0.6-1C17,13.447,16.952,13,16.4,13z M3.6,7H16.4 C16.952,7,17,6.553,17,6c0-0.553-0.048-1-0.6-1H3.6C3.048,5,3,5.447,3,6C3,6.553,3.048,7,3.6,7z'/%3E%3C/svg%3E");
}

.dropdown-toggle {
  border: 0;
  border-radius: 0;
  color: white;
  content: "";
  cursor: pointer;
  background: transparent center center no-repeat url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 20 20'%3E%3Cpath d='M4.516,7.548c0.436-0.446,1.043-0.481,1.576,0L10,11.295l3.908-3.747c0.533-0.481,1.141-0.446,1.574,0 c0.436,0.445,0.408,1.197,0,1.615c-0.406,0.418-4.695,4.502-4.695,4.502C10.57,13.888,10.285,14,10,14s-0.57-0.112-0.789-0.335 c0,0-4.287-4.084-4.695-4.502C4.107,8.745,4.08,7.993,4.516,7.548z'/%3E%3C/svg%3E");
  background-size: 24px 24px;
}

.dropdown-toggle:hover,
.dropdown-toggle:focus {
  background-color: transparent;
  color: white;
}

.dropdown-toggle:focus {
  outline: thin dotted;
  outline-offset: -1px;
}

.dropdown-toggle:focus:after {
  border-color: transparent;
}

.dropdown-toggle.toggled-on {
  content: "";
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 20 20'%3E%3Cpath d='M15.484,12.452c-0.436,0.446-1.043,0.481-1.576,0L10,8.705l-3.908,3.747c-0.533,0.481-1.141,0.446-1.574,0 c-0.436-0.445-0.408-1.197,0-1.615c0.406-0.418,4.695-4.502,4.695-4.502C9.43,6.112,9.715,6,10,6s0.57,0.112,0.789,0.335 c0,0,4.287,4.084,4.695,4.502C15.893,11.255,15.92,12.007,15.484,12.452z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.top-navigation .menu-item a {
  border-right: 1px solid white;
  background: #046af5;
}
.top-navigation .menu-item a:hover {
  background: #feca6e;
}
.top-navigation .menu-item:last-child a {
  border-right: none;
}
.top-navigation .current-menu-item a {
  background: #feca6e;
}

/**
 * objects/sidebar
 * ---
 */
.sidebar {
  background: #046af5;
  color: white;
}
.sidebar a {
  color: white;
}
.sidebar a:hover, .sidebar a:active {
  color: #feca6e;
}

.widget ul,
.widget ol {
  list-style-type: none;
}

.side-menu li a,
.widget_categories li a,
.widget_archive li a {
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}
.side-menu li a:hover,
.widget_categories li a:hover,
.widget_archive li a:hover {
  border-bottom-color: #feca6e;
}

/**
 * objects/footer
 * ---
 */
.footer-top {
  background: #4d267a;
  color: white;
}

.footer-side {
  background: none;
}

.footer-menu > li {
  border-bottom: 1px solid white;
}

.accreditations {
  background: white;
  color: #252525;
}

.footer-bottom {
  border-top: 10px solid #05a79c;
  color: white;
}

/**
 *
 * homepage styles
 *
 */
.main-cta-text,
.flex-caption {
  background: rgba(77, 38, 122, 0.9);
}
@media screen and (max-width: 1246px) {
  .main-cta-text,
  .flex-caption {
    background: #4d267a;
  }
}

#locations {
  background: #feca6e;
}

#sub-content {
  background: white;
}
#sub-content .post-list li {
  border-bottom: none;
}
@media screen and (max-width: 660px) {
  #sub-content .post-list li {
    border-bottom: 1px solid #4d267a;
  }
}

/**
 *
 * blog styles
 *
 */
.post-list li,
.widget_recent_entries ul li,
.advanced-posts-widget ul li {
  border-bottom: 1px dashed #4d267a;
}

.apw-post-thumbnail .wp-post-image {
  width: 100%;
  height: auto;
}

.comments {
  background: #ffefd3;
}
.comments li {
  border-bottom: 1px dashed #4d267a;
}

.reply {
  margin: 20px 0;
}
.reply a {
  background-color: #f07755;
  padding: 0.5em;
}
.reply a:hover {
  background-color: #959595 !important;
  color: white !important;
}
.reply a:before {
  content: url("data:image/svg+xml; utf8, <svg version='1.1' id='New_message' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 20 20' style='enable-background:new 0 0 20 20;' xml:space='preserve'><path fill='#ffffff' d='M18.174,1.826c-1.102-1.102-2.082-0.777-2.082-0.777L7.453,9.681L6,14l4.317-1.454l8.634-8.638	C18.951,3.908,19.275,2.928,18.174,1.826z M10.605,11.605l-0.471,0.47l-1.473,0.5c-0.104-0.24-0.234-0.477-0.498-0.74 c-0.264-0.264-0.5-0.394-0.74-0.498l0.5-1.473l0.471-0.47c0,0,0.776-0.089,1.537,0.673C10.693,10.828,10.605,11.605,10.605,11.605z M16,17H3V4h5l2-2H3C1.9,2,1,2.9,1,4v13c0,1.1,0.9,2,2,2h13c1.1,0,2-0.9,2-2v-7l-2,2V17z'/></svg>");
  margin-right: 5px;
  height: 16px;
  width: 16px;
  display: inline-block;
  vertical-align: text-top;
}

/**
 * utilities/print
 * ---
 * Print version
 * (from https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css)
 */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
