/**
 * utilities/mixins
 * ---
 */


@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

$Placeholder-Selectors: ();

@mixin button($color, $extend: true) {
  @include button-static($extend);

  background-color: $color;

  &:hover {
    background-color: $silver !important;
    color: white !important;
  }
}

@mixin button-static($extend: true) {
  $button-selector: map-get($Placeholder-Selectors, 'button');

  @if $extend == true {
    @if $button-selector == null {
      $button-selector: unique-id();
      $Placeholder-Selectors: map-merge($Placeholder-Selectors, ('button': $button-selector)) !global;

      @at-root %#{$button-selector} {
        @include button-static(false);
      }
    }
    @extend %#{$button-selector};
  }
  @else {

    padding: 8px 10px;
    font-family: $font-family-base;
    margin: $margin-sm 0;
    color: white !important;
    @include font-size(1.6);
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    display: inline-block;
    border: 1px solid white;

    &:hover {
      cursor: pointer;
      text-decoration: none;
    }
  }
}
