/**
 * utilities/variables
 * ---
 */


/**
 * Typography
 */

$font-family-base: 'Poppins', sans-serif;
$font-size-base: 140%;
$line-height-base: 1.4;


/**
 * Colors
 */

$text-color: #252525;
$body-bg: #ffffff;
$selection-bg: #03b0ae;

$orange: #f07755;
$yellow: #feca6e;
$teal: #03b0ae;
$blue: #046af5;
$purple: #4d267a;

$green: #028d54;
$mint: #75c494;
$teal: #05a79c;
$turquoise: #1e686b;

$silver: #959595;

/**
 * Borders & Shadows
 */

$box-default: 3px 3px 0 rgba(0,0,0,0.2);

/**
 * Breakpoints
 */

$break-lg: 1280px;
$break-med: 1246px;
$break-sm: 800px;
$break-tiny: 660px;

/**
 *  Grid
 */

$padding-lg: 40px;
$padding-sm: 20px;
$margin-lg: 40px;
$margin-sm: 20px;
