/**
 * utilities/wordpress
 * ---
 * Wordpess core classes
 */


.sticky {}

.bypostauthor {}

/**
 * Alignment
 */

.alignnone {
  margin-bottom: $margin-sm;
  display: inline-block;
  width: auto;
}

.aligncenter {
  margin: $margin-sm auto;
}

.alignright {
  float: right;
  margin: 0 0 $margin-sm $margin-sm;
  @media screen and (max-width: $break-sm) {
    float: none;
    margin: 0 0 $margin-sm 0;
  }
}

.alignleft {
  float: left;
  margin: 0 $margin-sm $margin-sm 0;
  @media screen and (max-width: $break-sm) {
    float: none;
    margin: 0 0 $margin-sm 0;
  }
}


/**
 * Gallery & images
 */

.gallery {
  display: grid;
  grid-column-gap: $margin-sm;
  grid-template-rows: auto;
  grid-row-gap: $margin-sm;
  grid-auto-flow: dense;
}

.gallery-item {
  text-align: center;
  margin: 0;

  img {
    border:none;
    width:100%;
    max-width: 100%;
  }
}

.gallery-columns-2 {
  grid-template-columns: repeat(2, 1fr);
}

.gallery-columns-3 {
  grid-template-columns: repeat(3, 1fr);
  @media screen and (max-width: $break-sm) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.gallery-columns-4 {
  grid-template-columns: repeat(4, 1fr);
  @media screen and (max-width: $break-sm) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.gallery-columns-5 {
  grid-template-columns: repeat(5, 1fr);
  @media screen and (max-width: $break-sm) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.gallery-caption {
  background: $blue;
  color: white;
  border: none;
  max-width: 100%;
  padding: 8px;
  text-align: center;

  & img {
    width: auto;
    max-width: 98.5%;
    height: auto;
    border: 0 none;

    @extend %reset-box;
  }
}

.wp-caption-text,
.gallery-caption {
  margin: 0;
  color: $text_color;
  padding: 5px 0;
  @include font-size(1.1);
  line-height: $line-height-base;
  max-width: 100%;
}

.wp-post-image {
  margin:$margin-sm 0;
}

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}
