/**
 * objects/layout/grid
 * ---
 */



$susy: (
  /* Tells Susy to use 12 columns */
        columns: 12,
  /* Tells Susy to use border-box */
        global-box-sizing: border-box,
        container: 1280px,
        gutters:1/4,
);

@include border-box-sizing;

.site-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  max-width: 1490px;
  margin: 0 auto;
  position: relative;
  justify-content: center;
  z-index: 1;
  @media screen and (max-width: $break-sm) {
    display: block;
  }
}

.content-container {
  z-index: 1000;
  display: grid;
  grid-template-columns: repeat(3, 33.333%);
  grid-template-rows: auto;
  grid-column: 1;
  grid-row: 1;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  justify-content: center;
  @media screen and (max-width: $break-med) {
    grid-template-columns: repeat(2, 50%);
  }
  @media screen and (max-width: $break-sm) {
    display: block;
  }
}

.wrapper {
  @include container();
  padding: 0;
  margin: 0 auto;
  position: relative;
  @media screen and (max-width: $break-lg) {
    padding: 0 $padding-sm;
  }
}

.flex-wrapper {
  @extend .wrapper;
  display: flex;
  align-items: stretch;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}

.grid-wrapper {
  display: grid;
  @media screen and (max-width: $break-sm) {
    display: block;
  }
}

.col2 {
  @include span(6);
  padding-right: gutter();
  &:nth-child(even) {
    @include last();
    padding-right:0;
    padding-left: gutter();
    @media screen and (max-width: $break-sm) {
      float: none;
      width: 100%;
      padding: 0;
    }
  }
  @media screen and (max-width: $break-sm) {
    float: none;
    width: 100%;
    padding: 0;
  }
}

.col3 {
  @include span(4);
  &:nth-child(3n) {
    @include last();
    @media screen and (max-width: $break-sm) {
      float: none;
      width: 100%;
      padding: 0;
    }
  }
  &:nth-child(4n) {
    clear: both;
  }
  @media screen and (max-width: $break-sm) {
    float: none;
    width: 100%;
    padding: 0;
  }
}

.col4 {
  @include span(3);
  &:nth-child(4n) {
    @include last();
    @media screen and (max-width: $break-sm) {
      float: none;
      width: 100%;
      padding: 0;
    }
  }
  &:nth-child(5n) {
    clear: both;
  }
  @media screen and (max-width: $break-med) {
    @include span(6);
    &:nth-child(even) {
      @include last();
    }
  }
  @media screen and (max-width: $break-sm) {
    float: none;
    width: 100%;
    padding: 0;
  }
}

.last {
  @include last();
}


