/**
 * objects/layout/layout
 * ---
 */

* > :last-child {
  margin-bottom: 0;
}

/* layout - header */

#masthead {
  position: relative;
  z-index: 2;
  .flex-wrapper {
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    @media screen and (max-width: $break-sm) {
      padding-bottom: 0;
    }
  }

}
.announcement {
  grid-row: 1;
  grid-column: 1 / span 3;
  padding: 10px 0;
  p {
    margin: 0;
  }
}

.top-bar {
  grid-row: 2;
  grid-column: 3 / span 1;
  @media screen and (max-width: $break-med) {
    grid-column: 2 / span 1;
  }
}

#header-left {
  grid-row: 3;
  grid-column: 1 / span 1;
  align-self: center;
  padding: 0 0 $padding-sm 0;
  @media screen and (max-width: $break-lg) {
    padding: $padding-sm;
  }
  @media screen and (max-width: $break-sm) {
    text-align: center;
  }
}

.logo-img {
  height: auto;
  width: auto;
  max-width: 100%;
  @media screen and (max-width: $break-med) {
    width: auto;
  }
}

/* layout - nav */

.top-navigation {
  margin-top: -10px;
  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    > li {
      margin: 0;
      a {
        width: 100%;
        display: block;
        padding: 10px;
      }
    }
    $columns: 3;
    @for $i from 0 through $columns {
      $j: ($i+1);
      > li:nth-of-type(#{$j}){
        -ms-grid-column: #{$j};
      }
    }
  }
}

.site-menu-container {
  grid-row: 3;
  grid-column: 2 / span 2;
  justify-self: end;
  align-self: center;
  position: relative;
  @media screen and (max-width: $break-med) {
    width: 100%;
  }
}

.site-header-menu {
  display: block;
  @media screen and (max-width: $break-med) {
    display: none;
    position: absolute;
    z-index: 5;
    width: 100%;
  }
  @media screen and (max-width: $break-sm) {
    position: relative;
  }
}

.site-header-menu.toggled-on,
.no-js .site-header-menu {
  display: block;
}

.main-navigation {

  ul li {
    position: relative;
  }

  .primary-menu > li {
    display: inline-block;
    width: auto;
    margin-bottom: 0;
    padding: 0;
    @media screen and (max-width: $break-med) {
      width: 100%;
      line-height: 48px;
    }
    a {
      line-height: 1em;
      padding: 10px;
      display: block;
      @media screen and (max-width: $break-med) {
        line-height: 48px;
        padding: 0 10px;
      }
    }
  }

  .sub-menu {
    display: block;
    left: -999em;
    position: absolute;
    z-index: 6;
    @media screen and (max-width: $break-med) {
      display: none;
      position: relative;
      left: 0;
    }
  }

  .sub-menu.toggled-on {
    display: block;
  }

  .sub-menu ul {
    top: 0;
  }

  .sub-menu ul:before,
  .sub-menu ul:after {
    border: 0;
  }

  .sub-menu li {
    margin-bottom: 0;
  }

  .sub-menu li a {
    white-space: normal;
    display: block;
    width: 330px;
    padding: 10px;
    @media screen and (max-width: $break-med) {
      width: 100%;
      padding: 0 1.5em;
      height: 48px;
      line-height: 48px;
    }
  }

  .sub-menu:before,
  .sub-menu:after {
    position: absolute;
  }

  li:hover > ul,
  li.focus > ul {
    left: 0;
    right: auto;
  }

  .sub-menu li:hover > ul,
  .sub-menu li.focus > ul {
    left: auto;
    right: 100%;
  }

  .sub-menu li:hover ul,
  .sub-menu li.focus ul {
    left: 100%;
    right: auto;
  }

}

.dropdown-toggle,
.main-navigation ul .dropdown-toggle.toggled-on{
  display: none;
  @media screen and (max-width: $break-med) {
    position: absolute;
    right: 0;
    top: 0;
    height: 48px;
    width: 48px;
    z-index: 100;
    display: inline-block;
  }
}

.menu-toggle {
  display: none;
  clear: both;
  width: 100%;
  padding: $padding-sm;
  &:after {
    display: inline-block;
    height: 24px;
    width: 24px;
    vertical-align: text-bottom;
    margin-left: 10px;
  }
  @media screen and (max-width: $break-med) {
    display: block;
    text-align: right;
  }
  @media screen and (max-width: $break-sm) {
    text-align: center;
  }
}

.footer-bottom .widget_nav_menu ul {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  li {
    width: span(2 of 6);
    @media screen and (max-width: $break-sm) {
      width: 50%;
    }
    @media screen and (max-width: $break-tiny) {
      width: 100%;
      text-align: center;
    }
  }
  .sub-menu {
    display: block;
    li {
      width: 100%;
    }
  }
}

.social-links-menu {
  float: right;
  text-align: right;
  li {
    display: inline-block;
    margin-bottom: 0;
    a{
      height: 36px;
      width: 36px;
      display: block;
      margin: 10px;
    }
  }
  @media screen and (max-width: $break-sm) {
    float: none;
    margin: 0;
    width: 100%;
    text-align: center;
  }
}

/* layout - main */

.site-main {
  grid-row: 2;
  grid-column: 1 / span 2;
  padding: $padding-lg;
  @media screen and (max-width: $break-med) {
    grid-column: 1 / span 1;
    padding: $padding-sm;
  }
}

.site-main.no-side, .events-archive .site-main {
  grid-row: 2 / span 1;
  grid-column: 1 / span 3;
  padding: $padding-lg;
  @media screen and (max-width: $break-med) {
    grid-column: 1 / span 2;
  }
  @media screen and (max-width: $break-tiny) {
    padding: $padding-sm;
  }
}


article {

  p {
    margin-bottom: $margin-sm;
  }

  blockquote {
    padding: $padding-sm span(1) 0;
    margin-bottom: $margin-lg;
  }

  ul, ol, dl {
    margin-bottom: $margin-sm;
    li {
      padding-bottom: 10px;
    }
  }

  table {
    margin-bottom: $margin-sm;

    th {
      padding: 5px;
    }

    td {
      padding: 5px;
    }
  }
}

/* layout - hero */

.hero-area {
  position: relative;
  max-width: 1490px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
}


.hero,
.sub-hero,
.flexslider {
  grid-row:  1;
  grid-column: 1 / span 1;
  @extend %clear;
  min-height: 65vh;
  max-height: 700px;
  @media screen and (max-width: $break-sm) {
    min-height: 40vh;
  }
}

.hero.has-slideshow {
  padding: 0;
}

.main-cta-text,
.flex-caption,
.sub-quote {
  grid-row:  1;
  grid-column: 1 / span 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: center;
  height: 100%;
  padding: 60px $padding-sm;
  @media screen and (max-width: $break-med) {
    justify-content: flex-start;
  }
  @media screen and (max-width: $break-sm) {
    padding: $padding-sm;
    width: 100%;
    text-align: center;
  }
}

.hero-video {
  padding: $padding-sm 0;
  position: relative;
  min-height: 0;
  .wrapper {
    text-align: center;
    position: relative !important;
  }
  .embed-outer {
    width: 100%;
    max-width: 60%;
    position: relative;
    margin: $margin-sm auto;
    @media screen and (max-width: $break-med) {
      max-width: 100%;
    }
    .embed-wrapper {
      position: relative;
      padding-bottom: 56.23%;
      /* Use 75% for 4:3 videos */
      height: auto;
      overflow: hidden;
      max-width: 100%;
      background: #000;
    }

    .embed-wrapper iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 100;
      background: transparent;
    }

    .video-player img {
      bottom: 0;
      display: block;
      left: 0;
      margin: auto;
      max-width: 100%;
      width: 100%;
      position: absolute;
      right: 0;
      top: 0;
      border: none;
      height: auto;
      cursor: pointer;
      -webkit-transition: .4s all;
      -moz-transition: .4s all;
      transition: .4s all;
    }

    .video-player img:hover {
      -webkit-filter: brightness(75%);
    }

    .video-player .play {
      height: 72px;
      width: 72px;
      left: 50%;
      top: 50%;
      margin-left: -36px;
      margin-top: -36px;
      position: absolute;
      background: url("//i.imgur.com/TxzC70f.png") no-repeat;
      cursor: pointer;
    }
  }
}

.sub-hero {
  min-height: 40vh;
  max-height: 500px;
}

.sub-quote {
  min-height: 300px;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: $break-sm) {
    min-height: 0;
  }
}

/* layout - home */

.content,
.content-home {
  clear: both;
  position: relative;
  z-index: 1;
}

.banner-quote {
  .flex-wrapper {
    padding: 0;
    @media screen and (max-width: $break-sm) {
      flex-direction: column;
    }
  }
}

#sub-content {
  grid-row: 4;
  grid-column: 1 / span 2;
  padding: $padding-lg;
  @media screen and (max-width: $break-sm) {
    padding: $padding-sm;
  }

}

.more-link {
  display: block;
}

/* layout - cta banner */

#locations {
  grid-row: 3;
  grid-column: 1 / span 3;
  display: flex;
  flex-wrap: wrap;
  padding: $padding-lg;
  justify-content: space-between;
  .section-title {
    width: 100%;
  }
  .col {
    width: 50%;
    @media screen and (max-width: $break-tiny) {
      img.alignleft,
      img.alignright {
        float: none;
        margin: 0 0 $margin-sm 0;
        display: block;
      }
    }
    @media screen and (max-width: $break-tiny) {
      width: 100%;
    }
  }
  @media screen and (max-width: $break-med) {
    padding: $padding-sm;
    grid-column: 1 / span 2;
  }
}


/* layout - subpages */

/* layout - flex content */

.accordion-list {
  list-style-type: none;
  @extend %reset-box;
}


/* layout - sidebars */

.sidebar {
  grid-column: 3 / span 1;
  grid-row: 2;
  padding: $padding-sm;
  @media screen and (max-width: $break-med) {
    grid-column: 2 / span 1;
  }
}

.home-upper {
  grid-row: 2;
}

.home-lower {
  grid-row: 4;
}

.widget {
  margin-bottom: $margin-lg;
  &:last-of-type {
    margin-bottom: 0;
  }
  @media screen and (max-width: $break-sm) {
    margin-bottom: $margin-sm;
  }
}

.featured-image {
  text-align: center;
  margin-bottom: $margin-sm;
  .sidebar-circle {
    border-radius: 50%;
    max-width: 315px;
  }
}

.sidebar .cta-btn {
  display: block;
}

.widget .gform_wrapper {
  margin: 0;
}

.widget ul,
.widget ol{
  @extend %reset-box;
  li a {
    padding-bottom:5px;
    display: block;
  }
  .children {
    padding-left: $padding-sm;
    padding-top: 10px;
  }
}

.widget_sp_image {
  text-align: center;
  .widget-title,
  .widgettitle {
    @extend %hide;
  }
}

/* layout - blog */

.post-list,
.widget_recent_entries ul,
.advanced-posts-widget ul{
  @extend %reset-box;
  list-style-type: none;
  li {
    padding: $padding-sm 0 0 0;
    clear: both;
    @extend %clear;
    margin-bottom: 0;
  }
  .more-link {
    margin-top: $margin-sm;
  }
}

.post-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  .post-item {
    padding: $padding-sm 10px;
    width: 50%;
    &:nth-child(even) {
      padding-right: 0;
    }
    &:nth-child(odd) {
      padding-left: 0;
    }
    &:nth-child(1),
    &:nth-child(2) {
      padding-top: 0;
    }
    &:nth-last-child(1),
    &:nth-last-child(2) {
      padding-bottom: 0;
    }
    @media screen and (max-width: $break-tiny) {
      width: 100%;
      padding: $padding-sm 0 !important;
    }
  }
}

@supports (display: grid) {
  .post-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    .post-item {
      padding: $padding-sm 10px;
      width: 100%;
      &:nth-child(even) {
        padding-right: 0;
      }
      &:nth-child(odd) {
        padding-left: 0;
      }
      &:nth-child(1),
      &:nth-child(2) {
        padding-top: 0;
      }
      &:nth-last-child(1),
      &:nth-last-child(2) {
        padding-bottom: 0;
      }
    }
    $columns: 2;
    @for $i from 0 through $columns {
      $j: ($i+1);
      > li:nth-of-type(#{$j}) {
        -ms-grid-column: #{$j};
      }
    }
    @media screen and (max-width: $break-tiny) {
      display: block;
      .post-item {
        padding: $padding-sm 0 !important;
      }
    }
  }
}

.comments {
  margin-top:$margin-lg;
  padding:$padding-sm;
  ul {
    @extend %reset-box;
    list-style-type:none;
    margin-bottom:$margin-lg;
    li {
      margin-bottom:$margin-sm;
    }
  }
}

/* layout - footer */

.footer {
  grid-row: 5;
  grid-column: 1 / span 3;
  .widget {
    margin-bottom: $margin-sm;
  }
  @media screen and (max-width: $break-med) {
    grid-column: 1 / span 2;
  }
}

.footer-top {
  padding: $padding-sm 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

@supports (display: grid) {
  .footer-top {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    @media screen and (max-width: $break-med) {
      grid-template-columns: 1fr 1fr;
    }
    @media screen and (max-width: $break-tiny) {
      display: block;
    }
  }
}

.footer-left {
  width: 66.666%;
  padding: $padding-lg;
  @media screen and (max-width: $break-sm) {
    width: 100%;
    margin: 0 0 $margin-sm 0;
    padding: 0 $padding-sm;
  }
}

@supports (display: grid) {
  .footer-left {
    grid-column: 1 / span 2;
    width: 100%;
    @media screen and (max-width: $break-med) {
      grid-column: 1 / span 1;
    }
    @media screen and (max-width: $break-tiny) {
      display: block;
    }
  }
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  > li {
    width: 25%;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: $padding-sm;
    margin-bottom: $margin-sm;
    &:nth-of-type(3n +1) {
      margin-left: 0;
    }
    &:nth-of-type(3n +3) {
      margin-right: 0;
    }
    a {
      margin-bottom: 10px;
      display: block;
    }
    @media screen and (max-width: $break-tiny) {
      width: 100%;
      margin: $margin-sm 0 !important;
    }
  }
}

@supports (display: grid) {
  .footer-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    align-items: start;
    > li {
      width: 100%;
      margin-left: 10px;
      margin-right: 10px;
      padding-bottom: $padding-sm;
      margin-bottom: $margin-sm;
      &:nth-of-type(3n +1) {
        margin-left: 0;
      }
      &:nth-of-type(3n +3) {
        margin-right: 0;
      }
      a {
        margin-bottom: 10px;
        display: block;
      }
    }
    $columns: 3;
    @for $i from 0 through $columns {
      $j: ($i+1);
      > li:nth-of-type(#{$j}) {
        -ms-grid-column: #{$j};
      }
    }
    @media screen and (max-width: $break-tiny) {
      display: block;
      > li {
        margin: 0 0 $margin-sm 0 !important;
      }
    }
  }
}

.footer-side {
  width: 33.333%;
  justify-self: flex-end;
  margin-left: auto;
  @media screen and (max-width: $break-sm) {
    width: 100%;
    margin: 0 0 $margin-sm 0;
  }
}

@supports (display: grid) {
  .footer-side {
    width: 100%;
    justify-self: stretch;
    grid-column: 3 / span 1;
    grid-row: 1;
    @media screen and (max-width: $break-med) {
      grid-column: 2 / span 1;
    }
    @media screen and (max-width: $break-tiny) {
      display: block;
      margin: 0;
      padding: 0 $padding-sm;
    }
  }
}

.accreditations {
  padding: $padding-sm;
}

.accred-list {
  @extend %reset-box;
  clear: both;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .accred-item {
    margin-bottom: 0;
    img {
      max-width: 320px;
      height: auto;
      @media screen and (max-width: $break-med) {
        max-width: 100%;
      }
    }
  }
  @media screen and (max-width: $break-tiny) {
    flex-wrap: wrap;
    .accred-item {
      width: 50%;
      text-align: center;
    }
  }
}


.footer-bottom {
  padding: $padding-sm 0;
  display: flex;
  align-items: flex-start;
  p {
    margin: 0;
  }
  @media screen and (max-width: $break-med) {
    padding: $padding-sm;
  }
  @media screen and (max-width: $break-tiny) {
    flex-wrap: wrap;
  }
}

.footer-bottom-left {
  @media screen and (max-width: $break-tiny) {
    width: 100%;
  }
}

.footer-bottom-right {
  justify-self: flex-end;
  margin-left: auto;
  @media screen and (max-width: $break-tiny) {
    width: 100%;
    justify-self: center;
  }
}

.contact-info {
  display: flex;
  .facility {
    margin-right: $margin-sm;
    &:last-of-type {
      margin-right: 0;
    }
    @media screen and (max-width: $break-tiny) {
      width: 50%;
      margin-bottom: $margin-sm;
    }
  }
  .contact-item {
    display: block;
    margin-bottom: 0.35em;
  }
  @media screen and (max-width: $break-tiny) {
    flex-wrap: wrap;
    width: 100%;
    justify-self: center;
  }
}



